    <div class="container lh-backstage mt-5" id="app">
        <div class="row">
            <div class="col-12 lh-backstage-main-section">
                <div class="lh-backstage-member-section mb-5">
                    <h2>家教資料</h2>
                        <div class="container tab-pane fade" id="lh-backstage-tutor-page">
                            <div class="lh-backstage-tutor-page mb-5">
                                <section class="lh-backstage-lh-backstage-tutor-data">
                                    <div class="row mb-2">
                                        <div class="col-12">
                                            <h3>家教資料</h3>
                                        </div>
                                        <div class="lh-baclstage-member-data-list mt-3">
                                            <h4>學歷</h4>
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <h4>經歷</h4>
                                            <ul>
                                                <li></li>
                                            </ul>
                                            <h4>可接受預約時段</h4>
                                            <ul v-if="slots.length > 0">
                                                <li v-for="slot in slots" :key="slot.id">
                                                    <p>
                                                        <span>星期二</span><span>13</span>點至<span>15</span>點
                                                    </p>
                                                </li>
                                            </ul>
                                            <button type="button"
                                                    class="btn lh-backstage-submit-btn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editTimeSlotModal">
                                                編輯教師可預約時段
                                            </button>
                                        </div>
                                        <div class="lh-backstage-member-card-list d-flex">
                                            <div class="card col-12 col-md-3 me-2 p-2">
                                                <img src="~/image/backstage/programming.png"
                                                     class="card-img-top w-100" />
                                                <div class="card-body">
                                                    <p class="card-text">申請科目：<span>C#</span></p>
                                                    <p class="card-text">
                                                        申請狀態：<span>已審核</span>
                                                    </p>
                                                    <button class="btn lh-backstage-submit-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#lh-backstage-tutor-application-audit">
                                                        證照資訊
                                                    </button>
                                                    <a href="/TalkingTopia/Apply_teacher/myResume.html"
                                                       class="btn lh-backstage-submit-btn">
                                                        編輯家教資料
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card col-12 col-md-3 me-2 p-2">
                                                <img src="~/image/backstage/subjects.png"
                                                     class="card-img-top w-100" />
                                                <div class="card-body">
                                                    <p class="card-text">申請科目：<span>國文</span></p>
                                                    <p class="card-text">
                                                        申請狀態：<span>未審核</span>
                                                    </p>
                                                    <button class="btn lh-backstage-submit-btn"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#lh-backstage-tutor-application-audit">
                                                        證照資訊
                                                    </button>
                                                    <a href="/TalkingTopia/Apply_teacher/myResume.html"
                                                       class="btn lh-backstage-submit-btn">
                                                        編輯家教資料
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- screen modal for 家教申請審核-->
        <div class="modal fade"
             id="lh-backstage-tutor-application-audit"
             tabindex="-1"
             aria-labelledby=""
             aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content container">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">
                            證照資訊
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <section class="lh-backstage-lh-backstage-tutor-data">
                            <ul>
                                <li>可無限增生的證照</li>
                            </ul>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary lh-backstage-submit-btn"
                                data-bs-dismiss="modal">
                            確認
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal 時段-->
        <div class="modal fade"
             id="editTimeSlotModal"
             tabindex="-1"
             aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">
                            編輯教師可預約時段
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 星期區塊 -->
                        <div class="row" id="timeslot-row">
                            <div class="col-12">
                                <div class="weekday-checkbox">
                                    <span class="fw-bolder mb-3 d-inline-block">請選擇可預約星期</span>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="monday"
                                               id="monday"
                                               name="weekday" />
                                        <label class="form-check-label" for="monday">星期一</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="tuesday"
                                               id="tuesday"
                                               name="weekday" />
                                        <label class="form-check-label" for="tuesday">星期二</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="wednesday"
                                               id="wednesday"
                                               name="weekday" />
                                        <label class="form-check-label" for="wednesday">星期三</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="thursday"
                                               id="thursday"
                                               name="weekday" />
                                        <label class="form-check-label" for="thursday">星期四</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="friday"
                                               id="friday"
                                               name="weekday" />
                                        <label class="form-check-label" for="friday">星期五</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="saturday"
                                               id="saturday"
                                               name="weekday" />
                                        <label class="form-check-label" for="saturday">星期六</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="sunday"
                                               id="sunday"
                                               name="weekday" />
                                        <label class="form-check-label" for="sunday">星期日</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal">
                            關閉
                        </button>
                        <button type="button"
                                class="btn lh-backstage-submit-btn">
                            儲存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section topCSS {
    <link rel="stylesheet" href="~/css/backstage.css?v=202408211917" />
}
@section endJS {
    <script src="~/js/backstage.js"></script>
}