@model ForgotPasswordViewModel

@section topCSS
{
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/forgotpassword.css" rel="stylesheet" />

}
<div class="forgot-password-container">
    <h2>忘記密碼</h2>
    <form asp-action="ForgotPassword" method="post" class="forgot-password-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <input asp-for="Email" class="form-control" placeholder="電子郵件" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">發送重設密碼連結</button>
    </form>
</div>