@section topCSS
{
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/forgotpasswordconfirmation.css" rel="stylesheet" />
}


<div class="container px-5">
    <div class="row">
        <div class="forgot-password-confirmation-container">
            <h2>忘記密碼</h2>
            <p>重設密碼的連結已發送到您的電子郵件信箱，請查收。</p>
        </div>
    </div>
</div>