@{
    ViewData["Title"] = "註冊成功";
}
@section topCSS
{
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/register_success.css" rel="stylesheet" />
}
<div class="container px-5">
    <div class="row">
        <div class="registration-success-container">
            <div class="alert alert-success">
                <h4>@TempData["SuccessMessage"]</h4>
                <p id="countdown">6 秒後將自動返回登入畫面...</p>
            </div>
        </div>
    </div>
</div>

<script>
    let seconds = 6;
    const countdownElement = document.getElementById("countdown");

    const countdownInterval = setInterval(() => {
        seconds--;
        countdownElement.textContent = `${seconds} 秒後將自動返回登入畫面...`;

        if (seconds === 0) {
            clearInterval(countdownInterval);
            window.location.href = '@Url.Action("Account", "Account")';
        }
    }, 1000);
</script>
