@section topCSS
{
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/resetpasswordsuccess.css" rel="stylesheet" />
}

<div class="container px-5">
    <div class="row">
        <div class="reset-password-success-container">
            <h2>密碼重設成功</h2>
            <p>您的密碼已成功重設，請使用新密碼登入。</p>
            <a href="@Url.Action("Account", "Account")" class="btn btn-custom">前往登入</a>
        </div>
    </div>
</div>