<partial name="_BannerPartial" />
<div class="container lh-backstage" id="app">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-homepage-section mb-5"
                 id="lh-backstage-homepage-section">
                <h3 class="lh-backstage-homepage-title my-5">
                    歡迎回來 <span>Chiaki</span>！這是你的學習課程！
                </h3>
                <div class="lh-backstage-divider"></div>
                <div class="col-12">
                    <h3 class="lh-backstage-homepage-title mt-5">學員課程概況</h3>
                    <div class="lh-backstage-homepage-card-list d-flex flex-wrap">
                        @for (int i = 0; i < 6; i++)
                        {
                            <partial name="_UserDashboardPartial" />
                        }
                    </div>
                </div>
                <div class="col-12">
                    <h3 class="lh-backstage-homepage-title mt-5">課程預約概況</h3>
                    <div class="lh-backstage-homepage-card-list d-flex">
                        @for (int i = 0; i < 2; i++)
                        {
                            <partial name="_UserDashboardPartial" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS{

    <link rel="stylesheet" href="~/css/backstage.css?v=202408211917" />

}