<div class="container lh-backstage" id="app">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs">
        <li class="nav-item lh-backstage-nav-item">
            <a class="nav-link" :class="{ active: activeTab === 'language' }" @@click="switchTab('language')">
                語言學習
            </a>
        </li>
        <li class="nav-item lh-backstage-nav-item">
            <a class="nav-link" :class="{ active: activeTab === 'coding' }" @@click="switchTab('coding')">
                程式設計
            </a>
        </li>
        <li class="nav-item lh-backstage-nav-item">
            <a class="nav-link" :class="{ active: activeTab === 'school' }" @@click="switchTab('school')">
                升學科目
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div v-if="!isLoading">
        <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
            <div v-if="activeTab === 'language'" class="tab-pane active">
                <div v-if="languageWatchList.length === 0">
                    <p>目前沒有關注任何此類別的課程!!</p>
                </div>
                <div v-else class="tutor-recommend-carousel d-flex">
                    <tutor-card v-for="(card, index) in languageWatchList"
                                :key="card.CourseId"
                                :card="card"
                                @@book-course="bookCourse">
                    </tutor-card>
                    <div class="arrow_prev "><i class="fa-solid fa-angle-left"></i></div>
                    <div class="arrow_next "><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
            <div v-if="activeTab === 'coding'" class="tab-pane active">
                <div v-if="codingWatchList.length === 0">
                    <p>目前沒有關注任何此類別的課程!!</p>
                </div>
                <div v-else class="tutor-recommend-carousel d-flex">
                    <tutor-card v-for="(card, index) in codingWatchList"
                                :key="card.CourseId"
                                :card="card"
                                @@book-course="bookCourse">
                    </tutor-card>
                    <div class="arrow_prev "><i class="fa-solid fa-angle-left"></i></div>
                    <div class="arrow_next "><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
            <div v-if="activeTab === 'school'" class="tab-pane active">
                <div v-if="schoolWatchList.length === 0">
                    <p>目前沒有關注任何此類別的課程!!</p>
                </div>
                <div v-else class="tutor-recommend-carousel d-flex">
                    <tutor-card v-for="(card, index) in schoolWatchList"
                                :key="card.CourseId"
                                :card="card"
                                @@book-course="bookCourse">
                    </tutor-card>
                    <div class="arrow_prev "><i class="fa-solid fa-angle-left"></i></div>
                    <div class="arrow_next "><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>        
    </div>
    <div v-else>
        <p>Loading...</p>
    </div>
</div>








@section topCSS {
    <link rel="stylesheet" href="~/css/tutor_recommend.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backstage.css" asp-append-version="true" />
    <link href="~/css/tutor_recommend.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/tutor_recommend_carousel_slider.css" rel="stylesheet" asp-append-version="true" />
}

@section endJS {
    <script src="https://unpkg.com/vue@3"></script>
    @* <script src="~/js/tutor_recommend_carousel.js" asp-append-version="true"></script> *@
    <script src="~/js/watchlist.js" asp-append-version="true"></script>
    

}