@model CourseMainPageViewModel


<div class="container lh-backstage" id="app">
    <div class="row overflow-hidden">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-watchlist-section mb-5"
                 id="lh-backstage-watchlist-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           data-bs-toggle="tab"
                           href="#lh-backstage-watchlist-item">
                            英文
                        </a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-watchlist-item-2">程式設計</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="container tab-pane fade show active"
                         id="lh-backstage-watchlist-item">
                        <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
                            <div class="tutor-recommend-carousel">
                                @foreach (var card in Model.TutorReconmmendCard)
                                {
                                    <partial name="_TutorRecommendPartial" model="card"/>   
                                }
                            </div>
                        </div>
                    </div>
                    @* <div class="container tab-pane fade"
                         id="lh-backstage-watchlist-item-2">
                        <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
                            <div class="tutor-recommend-carousel">
                                <partial name="_TutorRecommendPartial" />
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS {
    <link rel="stylesheet" href="~/css/tutor_recommend.css" />
    <link rel="stylesheet" href="~/css/backstage_member.css" />
}
@section endJS {
    <script src="~/js/tutor_recommend_carousel_layout.js"></script>
}