@section topCSS
{
    <link href="~/css/course_main_page.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/booking_table_modal.css" rel="stylesheet" />
}
@section topJS
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    @* <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script> *@
    <script src="~/js/booking_table_modal.js"></script>
    <script src="~/js/course-main-page.js"></script>



}

<div class="container tutor-course-page">
    <div class="row">
        <div class="col-md-8 col-12 " id="tutor-main-page">
            <div class="lh-tutor-title d-flex mb-3">
                <div class="lh-tutor-pic position-relative">
                    <img class="tutor-headshot rounded-circle  "
                         src="../Materials/tutor_headshot_imgs/tutor_head_003.jpg" />
                    <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                         src="../Materials/flag_imgs/korea_flag.jpg" />
                </div>
                <div class="course-name">
                    <h3>사영쌤💖🎓首爾大學🎓延世大學語學堂🎓高麗大韓語師資養成課程🌈8年教學經驗✨韓國生活5年</h3>
                    <span class="course-spcialty mt-2">🌈客製化課程✈️旅遊✨發音🗣口說專家👶兒童韓語🎯韓檢</span>
                    <div class="class-count mt-2">
                        <strong>2059</strong>堂韓文課
                    </div>
                    <div class="follow-button mt-2">+關注</div>
                </div>
            </div>
            <div class="lh-self-intro">
                <div class="self-intro-header">
                    <h3>自我介紹</h3>
                </div>
                <div class="self-intro-body">
                    <div class="can-speak"><strong>會說</strong> 英文, 中文, 日文, 韓文, 粵語</div>
                    <div class="self-intro-content">
                        <p class="self-intro-paragraph">
                            💖사영老師的課程特色💖<br>
                            🌟사영老師學生時期最擅長的就是活用文法，曾被老師稱讚過很會活用！所以老師的課也擅長引導口說，幫助文法都學了但是不會使用的同學一步步說出自己的想法，給予提示與鼓勵！歡迎來與老師一起練習^^<br>
                            🌟사영老師也特別擅長解說文法，用容易理解的概念說明文法並帶入情境讓學生可以知道在什麼情況可使用什麼文法，其實很多文法是可以貫通聯想記憶的，讓文法不只是一個個記，可以用概念理解、融會貫通<br>
                            🌟사영老師也擅長分析文法及句子結構，幫助閱讀很長的文章，也引導學生將好幾個文法結合造句，常常學生恍然大悟原來還可以這樣子用<br>
                            🌟사영老師這些年一對一與團班的經驗太多了，遇到的學生個性與年齡層都不同，擅長幫學生找出最適合自己的學習方法<br>

                            🙇‍♀️老師不太會寫課程文案， 但是成效有保證，請多多參考學生評價，及學習故事推薦<br>

                            💖사영老師的學經歷💖<br>
                            🎓首爾大學語言學校最高級結業<br>
                            🎓延世大學語言學校最高級結業<br>
                            🎓高麗大學韓國語教師養成課程<br>
                            🌈在韓國首爾居住5年<br>
                            🌈韓國打工度假經驗1年<br>
                            🌞韓語家教7年以上經歷<br>
                            🌞三星臺灣分公司中文講師經歷<br>
                            ❤️臺灣銘傳大學應用中國文學系畢業<br>
                            ❤️臺灣中等學校6個月的實習經驗<br>
                            🏅臺灣教育部中文教師資格證<br>
                            🧡翻譯口譯經驗 <br>
                            🧡香港電視臺韓國旅行節目口譯<br>
                            💛公司合同中->韓翻譯<br>
                            💛旅行社旅遊指南手冊中->韓翻譯<br>
                            🏅韓檢topik 6級資格證<br>
                            🎖️ 韓國觀光公社外國留學生宣傳大使團1年<br>
                            💙臺灣知名補習班(實體和線上)韓語講師經歷1年<br>
                            💜臺灣多家企業內部韓語教育講師經歷2年<br>
                            🌟豐富的在韓打工經驗<br>
                            🍒首爾大學附近Mom's Touch漢堡店<br>
                            🍒大田馬鈴薯湯<br>
                            🍒明洞烤肉店<br>
                            🍒麻辣燙店<br>
                            🍒延南洞日式居酒屋<br>
                            🍒北村韓服租賃店<br>
                            🍒免稅店服飾店<br>
                            🍒遊戲公司新遊戲測試<br>
                            🌟韓國公司實習經驗<br>
                            💼應用程序開發公司<br>
                            💼遊戲公司<br>
                            💼IT公司<br>
                            ✈️各國旅行經驗✈️✈️✈️<br>
                            🚩澳大利亞🚩韓國🚩日本🚩澳門<br>
                            🚩泰國🚩越南🚩寮國🚩新加坡<br>
                            🚩美國🚩法國🚩意大利🚩瑞士<br>
                            💖興趣愛好💖<br>
                            📖語言學習<br>
                            🍰日語🍰德語🍰泰語🍰法語🍰廣東話<br>
                            🍊活動體驗<br>
                            🔓冰塊浴🔓馬拉松🔓新村水槍慶典<br>
                            🔓漢江電影節🔓大學路劇場看話劇<br>
                            🔓農場牧場工作🔓與大象散步洗澡<br>
                            🔓做韓國料理🔓桌遊🔓烏克麗麗 <br>
                            🔓探訪美食咖啡店🔓語言文化交流會<br>
                            🔓數位游牧<br>
                            🎩特長運動<br>
                            🏋️健身房🏋️‍♂️Cross Fit🧘‍♀️瑜伽<br>
                            🥊拳擊🥊泰拳🏓乒乓球<br>
                            🏐排球🏀籃球⚽足球<br>


                            ⚡暑假團班早鳥6折限時招生中 (可以幫忙募集學生開班😊)<br>
                            💌團班需求可以客製化, 請私訊老師討論<br>

                            (台灣凌晨時段請勿選課)<br>
                            🌟平日晚上時段一對一收10位學生~請把握~💖<br>
                            🌟一對一量身訂製課程，請多多告訴老師你的學習需求<br>


                            💖[사영老師的課堂效果]<br>
                            .毫無負擔地學習韓語<br>
                            .仔細修改發音<br>
                            .愉快地享受韓語<br>
                            .比別人更善於運用韓語語法<br>
                            .用韓語寫日記<br>
                            .與韓國人暢通無阻攔<br>

                            📒【授課對象】<br>
                            -成人學習者。 兒童學習者<br>
                            .喜歡韓流/KPOP的人<br>
                            .想交韓國朋友的人<br>
                            .想在韓國自由旅行的人<br>
                            .想去韓國留學的人<br>

                            📌-解決問題<br>
                            .難以記住韓文40音的人<br>
                            .想發音準確的人<br>
                            .很難背韓語單詞的人 <br>
                            .即使學了韓語語法也無法使用的人<br>
                            .很難獨自準備topic topik考試 <br>
                            .看長篇文章難以理解的人<br>
                            .覺得韓語很難又無趣的人<br>

                            📋[課程]<br>

                            📖入門（介紹韓語40音）<br>
                            -韓文字體結構<br>
                            -輔音<br>
                            -母音<br>
                            -複合母音<br>
                            -收尾音<br>
                            -組合練習<br>
                            -單詞練習<br>
                            -發音規則<br>
                            -學習唱歌<br>

                            📙初級（使用韓國語學堂教材）<br>
                            -單詞<br>
                            -語法<br>
                            -對話<br>
                            -運用練習<br>
                            -加強聽力<br>
                            -加強口說（留意練習）<br>
                            -作業<br>

                            📗中級（使用韓國語學堂教材）<br>
                            -單詞<br>
                            -語法<br>
                            -對話<br>
                            -運用練習<br>
                            -加強聽力<br>
                            -加強口說（留意練習）<br>
                            -作業<br>

                            📘高級（使用韓國語學堂教材）<br>
                            -單詞<br>
                            -語法<br>
                            -對話<br>
                            -運用練習<br>
                            -加強聽力<br>
                            -加強口說話（留意練習）<br>
                            -作業<br>

                            📓TOPIK1 TOPIK1考試準備班（1對1量身定做， 可以在短時間內獲得Topic韓語資格證想要的級別。 )<br>
                            .考試概要說明（日期.時間.分數配分。考試類型介紹)<br>
                            .應試準備方式（根據學習者的水平確定個人學習日程）<br>
                            .打好基礎<br>
                            .加強語法補充<br>
                            . （中間審查，定製學習日程調整）<br>
                            .較弱的考試類型強化<br>
                            .應試前備考<br>
                            .可以一起做很多考古題~！！<br>

                            ✈️ 旅行韓語（使用旅行韓語教材）<br>
                            ☀️ 發音矯正班（子音.母音重新訓練， 發音部位說明， 發音規則總整理）<br>
                            🌞韓語生活口語（使用現實生活口語教材，口語機會90%）<br>

                            🎯授課目標: <br>
                            .1個月自信地說韓語<br>
                            .3個月可以活用學到的韓語會話<br>
                            .以韓國人的想法構成韓語句子<br>

                            🍊授課方式: <br>
                            .有很多說話的機會<br>
                            .會話實戰演習<br>
                            .以會話爲主輕鬆學習語法<br>
                            .發音掌握<br>
                            .口語.閱讀.寫作.聽力 1:1 量身定做的教育<br>
                            .通過課題練習熟練掌握韓語<br>

                            🌠我學韓語的時候非常有趣，沒有負擔，所以我也想一樣地教我的學生。 課堂上能自然地說出韓語是我的課堂目標！🌠<br>

                            🚨注意事項<br>
                            .上課的時候請準備筆記本&筆。<br>
                            .上課前請確認連接狀態和設備。<br>
                            .請至少在上課前12個小時取消課程。<br>
                            .如果需要調整時間，請傳訊息討論安排日程。<br>
                            .上課時間開始後最多等10分鐘，請準時來。
                        </p>
                        <input type="checkbox" class="lh-expand-btn">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
                <!-- <div class="self-intro-footer">
                    <span>瀏覽全部自我介紹
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div> -->
            </div>
            <div class="lh-group-course-info">
                <div class="group-course-header">
                    <h3>團體班課程</h3>
                </div>
                <div class="group-course-body">
                    <strong>約為正式課的 6 折 🔥 優惠名額有限！</strong>
                    <div class="group-course-content">
                        <p class="group-course-paragraph">
                            Sayeong쌤💖暑假特別團班🌞🌞🌞🌞🌞<br>
                            🌟第一位報名學生可協調上課時間⚡2人即開班⚡<br>
                            🎯注重效率與成效🎯口說為最大目標🎯用韓語分享日常<br>
                            ✅團體班也客製化✅小班制了解需求<br>
                            🎈輕鬆有趣課堂!🎈快速學會成效!🎈文法可以活用!<br>
                            <br>
                            🍰🍰🍰🍰🍰🍰🍰🍰🍰<br>
                            口說佔90%<br>
                            注重文法的運用練習<br>
                            簡單易懂的說明文法<br>
                            延伸至生活情境活用<br>
                            補充韓粽<br>
                            💝💝💝💝💝💝💝💝💝<br>
                            <br>
                            🔥連鎖語言補習班團班經驗🔥企業內訓團班經驗<br>
                            🔥三星電子中文老師團班經驗<br>
                            <br>
                            🌈開課資訊: (團體班客製化可私訊老師詢問,協助開班💖)<br>
                            📖各大語學堂教材、世宗體系教材、自製教材... (請洽老師詢問~💖)<br>
                        </p>
                        <input type="checkbox" class="group-crouse-btn"> <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="lh-video-intro mb-4">
                <div class="video-info-header">
                    <h3>影片介紹</h3>
                </div>
                <div class="video-info-body ">
                    <iframe width="100%" height="315"
                            src="https://www.youtube.com/embed/ZavL9y4Adrk?si=0UIWWwV4gCJyI3Qa"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-info-footer mb-3">
                    自我介紹影片
                </div>
            </div>
            <div class="lh-other-info d-none">
                <div class="more-curse-info">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    進一步了解上課方式
                </div>
                <div class="other-course-time">
                    <i class="fa-regular fa-clock"></i>
                    其他開課時間
                </div>
            </div>
            <div class="lh-badge d-flex gap-md-4">
                <div class="award-icon"><img src="../Materials/tutor_badge_imgs/tutor_badge.webp"></div>
                <div class="badge-content">
                    <strong>僅有 8.5% 的優質教師</strong>
                    <br>在 AmazingTalker 受到大量學生喜愛，好評不斷的優質教師！
                </div>
            </div>
            <div class="lh-tutor-comment ">
                <div class="course-comment-generator w-100">
                    <h3 class="my-2">對課程的感想</h3>
                    <div class="comment-rating-stars w-100" id="app">
                        <p-rating class="my-3" v-model="rating"></p-rating>
                    </div>
                    <div class="comment-input-section my-3 d-flex">
                        <input type="text comment-input-box w-100 my-3" class="form-control" placeholder="請留下評論...." aria-label="Username" aria-describedby="basic-addon1">
                        <input class="btn comment-submit-btn my-3" type="submit" value="送出">
                    </div>
                </div>
                <div class="tutor-rating d-flex align-content-center">
                    <p class="comment-count ">410筆韓文課程評價</p>
                    <div class="rating-star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="comment-card">
                    <div class="comment d-flex ">
                        <div class="user-icon ">
                            <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                            </svg>
                        </div>
                        <div class="comment-info d-flex flex-column">
                            <p class="user-name">Winni</p>
                            <p class="comment-date">2024 年 7月13 日</p>
                        </div>
                    </div>
                    <p>
                        老師上課很細心，會為學員的需求客製化課程，
                        一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                        上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                        讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                    </p>
                </div>
                <div class="comment-card">
                    <div class="comment d-flex ">
                        <div class="user-icon ">
                            <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                            </svg>
                        </div>
                        <div class="comment-info d-flex flex-column">
                            <p class="user-name">匿名</p>
                            <p class="comment-date">2024 年 4月29 日</p>
                        </div>
                    </div>
                    <p>
                        1. 相較以往總是遇到說話很快的老師（在此不是說趕課程進度而是說話的快節奏。）Sayeong老師說話較緩
                        且口語清晰，符合我在此平台找老師的要求。2. 視學生的學習狀況調整進度。3. 除了課本，會讓我唸有興
                        趣的課外讀物，從中糾正讀音咬字，且有機會慢慢地多練習較難或較少在初級階段遇到的單字讀音。
                    </p>
                </div>
                <button type="button" class="btn more-comment" data-bs-target="#moreInfoModal" data-bs-toggle="modal">
                    顯示全部410則評論
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
            <div class="lh-learning-story mb-4 d-none">
                <h3 class="w-100 mb-4">3篇韓文學習故事</h3>
                <div class="learning-story-card">
                    <div class="story-photo">
                        <img src="https://picsum.photos/200" alt="">
                    </div>
                    <div class="story-status">
                        <p>學了韓文後去韓國旅遊更順利</p>
                        <span>
                            <span class="me-2">
                                <i class="fa-regular fa-heart me-1"></i>
                                <span>1個喜歡</span>
                            </span>
                            <span class="me-2">
                                <i class="fa-regular fa-comment-dots me-1"></i>
                                <span>3個留言</span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="learning-story-card">
                    <div class="story-photo">
                        <img src="https://picsum.photos/200" alt="">
                    </div>
                    <div class="story-status">
                        <p>韓文學習</p>
                        <span>
                            <span class="me-2">
                                <i class="fa-regular fa-heart me-1"></i>
                                <span>2個喜歡</span>
                            </span>
                            <span class="me-2">
                                <i class="fa-regular fa-comment-dots me-1"></i>
                                <span>1個留言</span>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="learning-story-card">
                    <div class="story-photo">
                        <img src="https://picsum.photos/200" alt="">
                    </div>
                    <div class="story-status">
                        <p>自學韓語半年後依舊選擇家教的理由</p>
                        <span>
                            <span class="me-2">
                                <i class="fa-regular fa-heart me-1"></i>
                                <span>5個喜歡</span>
                            </span>
                            <span class="me-2">
                                <i class="fa-regular fa-comment-dots me-1"></i>
                                <span>2個留言</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="lh-tutor-evaluation d-flex ">
                <h3 class="w-100">教師表現數據</h3>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>滿意度</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">4筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 4%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>18筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 18%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>17筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 17%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>出席率</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3 mb-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>回復率</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lh-tutor-resume">
                <h3>履歷</h3>
                <div class="tutor-resume-content">
                    工作經驗
                    <ul>
                        <li>2021 - 2021 兩家台灣知名連鎖語言補習班 韓語老師</li>
                        <li>2021 - 2021 多家旅行社 企業外派韓語講師</li>
                        <li>2020 - 2021 韓國/台灣線上韓語教師/中文教師/面授家教</li>
                        <li>2018 - 2018 香港TVB電視台 韓國旅遊節目 來韓採訪口譯及公關</li>
                        <li>2019 - 2020 韓國Culcom英中文終身教育中心</li>
                        <li>2017 - 2017 韓國觀光公社</li>
                        <li>2009 - 2009 韓國安養大學</li>
                    </ul>
                </div>
                <div class="tutor-resume-content ">
                    教育背景
                    <ul class="d-flex">
                        <li>2004 - 2009 銘傳 應用中文系</li>
                        <i class="fa-solid fa-circle-check">已上傳證書</i>
                    </ul>
                </div>
                <div class="tutor-resume-content ">
                    證照證書
                    <ul class="d-flex">
                        <li>台灣教育部中等學校教師證</li>
                        <i class="fa-solid fa-circle-check">已上傳證書</i>
                    </ul>
                    <ul class="d-flex">
                        <li>韓語檢定考六級證照</li>
                        <i class="fa-solid fa-circle-check">已上傳證書</i>
                    </ul>
                </div>
            </div>
            <div class="lh-more-trouble">
                <h3>常見問題</h3>
                <div class="more-trouble-content">
                    預約方式
                    <ul>
                        <li>購買課程後可依照教師行事曆的時間預約課程</li>
                        <li>如教師顯示『可即時授課』則可立即預約教師待會的時間</li>
                        <li>如教師未在線上最快可預約 24 小時之後的課程</li>
                    </ul>
                </div>
                <div class="more-trouble-content">
                    費用說明
                    <ul>
                        <li>體驗課程課時約為 25 分鐘</li>
                        <li>正式課程課時約為 50 分鐘</li>
                        <li>正式課程購買超過 5 堂有額外折扣（視老師開課價額而定）</li>
                    </ul>
                </div>
                <div class="more-trouble-content">
                    上課說明
                    <ul>
                        <li>開課前 10 分鐘進入網站，選擇『我的課程』找到該堂課並點選『進入教室』，即可開啟 ZOOM 教室開始上課</li>
                        <li>手機、電腦皆可使用 ZOOM 上課（手機請先下載 ZOOM 應用程式）</li>
                    </ul>
                </div>
                <div class="more-trouble-content">
                    退課須知
                    <ul>
                        <li>當課程發生問題可選擇『回報問題』，可由教師選擇重新預約或是退AT幣</li>
                        <li>如教師超過12小時未給予回覆，系統將自動退AT幣給您</li>
                    </ul>
                </div>
            </div>
            <div class="container booking-table-container py-3">
                <div class="booking-table-title d-flex justify-content-between">
                    <h3 class="text-start fs-3">授課時間</h3>
                    <p class="timezone-text">時間以 台北 GMT +08:00 顯示</p>
                </div>
                <div class="booking-table-date-switcher d-flex col-12 mb-4">
                    <div class="text-center d-flex gap-1 me-3">
                        <button id="prevWeek"><i class="fa-solid fa-angle-left"></i></button>
                        <button id="nextWeek"><i class="fa-solid fa-angle-right"></i></button>
                    </div>
                    <div id="weekRange"></div>
                </div>


                <div class="booking-table-body-wrapper d-flex justify-content-center w-100"
                     id="bookingTableBodyWrapper">
                    <div class="table booking-table w-100">
                        <div>
                            <div id="bookingTableHeader">
                                <!-- rendered by JS -->
                            </div>
                        </div>
                        <div id="bookingTableBody">
                            <!-- rendered by JS -->
                        </div>
                    </div>
                </div>
                <!-- <div class="text-center">
                    <button id="expandBookingTable" class="btn btn-open">展開完整時間</button>
                </div> -->
            </div>
            <div class="modal fade" id="confirmBookingModal" tabindex="-1"
                 aria-labelledby="confirmBookingModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>確認預約內容</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <img class="tutor-headshot rounded-circle"
                                 src="/Materials/tutor_headshot_imgs/tutor_head_001.jpg" alt="Tutor's Photo">
                            <p class="overflow-hidden">
                                <strong>教師名稱：</strong>{{ tutorName }}
                            </p>
                            <p><strong>預約堂數：</strong> {{ bookedLessons }}</p>

                        </div>
                        <table class="book-info-table ">
                            <thead>
                                <tr>
                                    <th>課程日期</th>
                                    <th>時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="confirmBookingModalDate"></td>
                                    <td id="confirmBookingModalTime"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="modal-footer col-8 mx-auto mb-2 d-flex justify-content-between">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-next">下一步</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-12 " id="tuition-sidebar">
            <div class="side-bar-header">一對一課程</div>
            <div class="side-bar-body">
                <div class="course-info-card try-out-course d-flex mb-3 ">
                    <div class="course-charging d-flex flex-column">
                        <div class="charging-fee">NT$108</div>
                        <div class="course-number-time">25分鐘體驗課</div>
                    </div>
                    <div class="course-discount d-flex">
                        <div class="course-discount-logo d-none">5% Off</div>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
                <div class="course-type-switch-tab d-flex">
                    <div class="course-info-tab px-4 py-2 mb-2 course-info-tab-color" id="min-25">25分鐘</div>
                    <div class="course-info-tab px-4 py-2 mb-2" id="min-50">50分鐘</div>
                </div>

                <div class="course-info-group min-25">
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$517</div>
                            <div class="course-number-time">1堂25分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo d-none">5% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$491</div>
                            <div class="course-number-time">10堂25分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">5% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$465</div>
                            <div class="course-number-time">20堂25分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">10% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$439</div>
                            <div class="course-number-time">40堂25分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">15% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
                <div class="course-info-group min-50 d-none">
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$862</div>
                            <div class="course-number-time">1堂50分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo d-none">5% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$819</div>
                            <div class="course-number-time">5堂50分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">5% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$775</div>
                            <div class="course-number-time">10堂50分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">10% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="course-info-card d-flex">
                        <div class="course-charging d-flex flex-column">
                            <div class="charging-fee">NT$732</div>
                            <div class="course-number-time">20堂50分鐘課</div>
                        </div>
                        <div class="course-discount d-flex">
                            <div class="course-discount-logo">15% Off</div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 lh-tutor-detailed-info">
        <h3 class="my-4 ">相似教師推薦</h3>
        <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
            <div class="tutor-recommend-carousel">
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_001.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/uk_flag.png" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_002.png" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/us_flag.png" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Todd🤠American Teacher!🏅Kid's
                                English
                                Expert! 🏅 Basic to Advanced😀
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                        <p class="tutor-intro-text mb-2">
                            會說英文 中文 日文 韓文 西班牙文 粵語
                            期待什麼：
                            😉定制課程
                            😃免費英語資源
                            🤡80% 學生演講
                            😃保證改善
                            🌄有趣和友好的環境
                            🌄額外的課外工作表和家庭作業（根據要求）
                            😀 很多談話😁
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$514 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$857 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_003.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/korea_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                🔥Summer Big
                                Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門 韓語口 新師6折優惠🔥
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨</div>
                        <p class="tutor-intro-text mb-2">
                            【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                            💛你好，這是韓國人Eunwoo。💛
                            💛 4年以上的教學經驗💛
                            💛兒童和青少年專家💛
                            💛英語學習韓語💛
                            💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                            💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$407 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$678 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_004.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/taiwan_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_005.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/taiwan_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_001.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/uk_flag.png" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_002.png" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/us_flag.png" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Todd🤠American Teacher!🏅Kid's
                                English
                                Expert! 🏅 Basic to Advanced😀
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                        <p class="tutor-intro-text mb-2">
                            會說英文 中文 日文 韓文 西班牙文 粵語
                            期待什麼：
                            😉定制課程
                            😃免費英語資源
                            🤡80% 學生演講
                            😃保證改善
                            🌄有趣和友好的環境
                            🌄額外的課外工作表和家庭作業（根據要求）
                            😀 很多談話😁
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$514 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$857 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_003.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/korea_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                🔥Summer Big
                                Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門 韓語口 新師6折優惠🔥
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨</div>
                        <p class="tutor-intro-text mb-2">
                            【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                            💛你好，這是韓國人Eunwoo。💛
                            💛 4年以上的教學經驗💛
                            💛兒童和青少年專家💛
                            💛英語學習韓語💛
                            💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                            💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$407 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$678 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_004.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/taiwan_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
                <div href="" class="lh-tutor-card py-3 px-4 position-relative">
                    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
                        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                            <img class="tutor-headshot rounded-circle"
                                 src="../Materials/tutor_headshot_imgs/tutor_head_005.jpg" />
                            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                                 src="../Materials/flag_imgs/taiwan_flag.jpg" />
                            <div class="tutor-online-status"></div>
                        </div>
                        <div class="tutor-head-brief-pricing">
                            <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">
                                /
                                50分鐘
                            </span>
                        </div>
                        <div class="lh-tutor-follow my-2">+關注</div>
                    </div>
                    <div class="lh-tutor-card__body">
                        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                            <a class=" tutor-description-title col-8" href="#">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </a>
                            <div class="tutor-ranking col-4 d-flex justify-content-end">
                                <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                            </div>
                        </div>
                        <div class="tutor-subtitle mb-3">今天变得冷静和自信</div>
                        <p class="tutor-intro-text mb-2">
                            💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                            获得学士学位、理学硕士和剑桥资格
                            🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                        </p>
                        <div class="course-pricing d-flex justify-content-between mb-2">
                            <div class="trail-course-pricing ">
                                NT$469 <div class="text">體驗課</div>
                            </div>
                            <div class="fifty-min-course-pricing">
                                NT$1,624 <div class="text">50分鐘</div>
                            </div>
                        </div>
                        <div class="contact-btns-wrapper d-flex gap-1">
                            <button type="button" class="lh-tutor-card__book-btn col-8">
                                預約體驗
                            </button>
                            <button type="button" class="lh-tutor-card__contact-tutor-btn col-4">
                                聯繫老師
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow_prev "><i class="fa-solid fa-angle-left"></i></div>
            <div class="arrow_next "><i class="fa-solid fa-angle-right"></i></div>
        </div>
    </div>
</div>
<div class="lh-rwd-course-info-tab col-12">
    <div class="try-out-class-info">
        <div class="tab-charging-fee">NT$108</div>
        <div class="tab-course-number-time">25分鐘體驗課</div>
    </div>
    <div class="course-button-group">
        <button class="try-out-book">預約體驗</button>
        <button class="try-out-tutor-contact">聯繫老師</button>

    </div>
</div>



<div class="modal fade comment-popout-view" id="moreInfoModal" tabindex="-1" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content course-comment-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">~CourseName</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body course-comment-modal-body d-flex">
                <div class="comment-modal-selection col-md-6 col-12">
                    <div class="comment-rating-section mb-4">
                        <h3>韓文評價</h3>
                        <div class="comment-rating-group">
                            <div class="form-check">
                                <input class="form-check-input comment-rating-selection" type="checkbox" value="" id="flexCheck-5">
                                <label class="form-check-label" for="flexCheck-5">
                                    <i class="fa-solid fa-star"></i>
                                    <p class="rating-level ">5。非常好</p>
                                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: 93%"></div>
                                    </div>
                                    <p class="comment-percentage">99.3%</p>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input comment-rating-selection" type="checkbox" value="" id="flexCheck-4">
                                <label class="form-check-label" for="flexCheck-4">
                                    <i class="fa-solid fa-star"></i>
                                    <p class="rating-level ">4。很好</p>
                                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: 93%"></div>
                                    </div>
                                    <p class="comment-percentage">99.3%</p>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input comment-rating-selection" type="checkbox" value="" id="flexCheck-3">
                                <label class="form-check-label" for="flexCheck-3">
                                    <i class="fa-solid fa-star"></i>
                                    <p class="rating-level ">3。普通</p>
                                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: 93%"></div>
                                    </div>
                                    <p class="comment-percentage">99.3%</p>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input comment-rating-selection" type="checkbox" value="" id="flexCheck-2">
                                <label class="form-check-label" for="flexCheck-2">
                                    <i class="fa-solid fa-star"></i>
                                    <p class="rating-level ">2。不好</p>
                                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: 93%"></div>
                                    </div>
                                    <p class="comment-percentage">99.3%</p>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input comment-rating-selection" type="checkbox" value="" id="flexCheck-1">
                                <label class="form-check-label" for="flexCheck-1">
                                    <i class="fa-solid fa-star"></i>
                                    <p class="rating-level ">1。非常糟</p>
                                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar" style="width: 93%"></div>
                                    </div>
                                    <p class="comment-percentage">99.3%</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="teaching-category">
                        <h3>教學項目</h3>
                        <div class="teaching-category-container">
                            <div class="teaching-category-item d-flex">
                                <p>韓文</p>
                                <p class="comment-teaching-item-count">(416)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>TOPIK II</p>
                                <p class="comment-teaching-item-count">(221)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>韓文會話</p>
                                <p class="comment-teaching-item-count">(76)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>中階韓文</p>
                                <p class="comment-teaching-item-count">(1)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>初階韓文</p>
                                <p class="comment-teaching-item-count">(21)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>韓文口說</p>
                                <p class="comment-teaching-item-count">(34)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>TOPIK I</p>
                                <p class="comment-teaching-item-count">(7)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>入門韓文</p>
                                <p class="comment-teaching-item-count">(38)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>旅遊韓文</p>
                                <p class="comment-teaching-item-count">(1)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>韓文興趣</p>
                                <p class="comment-teaching-item-count">(2)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>國中韓文(12-14)</p>
                                <p class="comment-teaching-item-count">(7)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>韓文出國</p>
                                <p class="comment-teaching-item-count">(5)</p>
                            </div>
                            <div class="teaching-category-item d-flex">
                                <p>韓文發音</p>
                                <p class="comment-teaching-item-count">(7)</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-12 comment-card-section h-100">
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                    <div class="comment-card">
                        <div class="comment d-flex ">
                            <div class="user-icon ">
                                <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                </svg>
                            </div>
                            <div class="comment-info d-flex flex-column">
                                <p class="user-name">Winni</p>
                                <p class="comment-date">2024 年 7月13 日</p>
                            </div>
                        </div>
                        <p>
                            老師上課很細心，會為學員的需求客製化課程，
                            一開始想要學習正統的韓文，老師準備了韓國語學堂的課材教學，
                            上月底去韓國玩，老師花了2堂課時間教我旅遊韓文如何點餐，使用naver導航app，如何搭大眾運輸，幫我把我想要去的景點做統整，並把相關資訊用韓文筆記給我，
                            讓我對首爾的地理位置更清楚更好安排時間，用韓文點餐買東西，非常的受用，謝謝老師🩵
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>