@section topCSS
{
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/utilities.css" />
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/course_list.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/tutor_intro_medias_slider.css">
    <link rel="stylesheet" href="~/css/booking_table_modal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&display=swap"
          rel="stylesheet">
}


<section class="tutors mb-3">
    <div class="lh-tutors-filter d-flex">
        <div class="btn-group mx-1 ms-sm-4 me-sm-2 mb-3">
            <button class="btn dropdown-toggle px-1 px-sm-3 py-2" type="button" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside">
                學習需求 <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown">
                    <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="true" type="button">
                        語言學習
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">英文</button></li>
                        <li><button class="dropdown-item" type="button">日文</button></li>
                        <li><button class="dropdown-item" type="button">韓文</button></li>
                    </ul>
                </li>
                <li class="dropend nested-dropdown">
                    <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="true" type="button">
                        程式設計
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Python</button></li>
                        <li><button class="dropdown-item" type="button">JavaScript</button></li>
                        <li><button class="dropdown-item" type="button">C#</button></li>
                    </ul>
                </li>
                <li class="dropend nested-dropdown">
                    <button class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="true" type="button">
                        升學科目
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">數學</button></li>
                        <li><button class="dropdown-item" type="button">物理</button></li>
                        <li><button class="dropdown-item" type="button">國文</button></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="btn-group me-1 mx-sm-2 mb-3">
            <button class="btn dropdown-toggle px-1 px-sm-3 py-2" type="button" data-bs-toggle="dropdown">
                教師國籍 <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">台灣</button></li>
                <li><button class="dropdown-item" type="button">美國</button></li>
                <li><button class="dropdown-item" type="button">英國</button></li>
                <li><button class="dropdown-item" type="button">法國</button></li>
                <li><button class="dropdown-item" type="button">德國</button></li>
            </ul>
        </div>
        <div class="btn-group course-time-filter me-1 mx-sm-2 mb-3">
            <button class="btn dropdown-toggle px-1 px-sm-3 py-2" type="button" data-bs-toggle="dropdown">
                上課時間 <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu px-3 py-2 px-md-4 py-md-3">
                <li class="col-12">選擇時間段</li>
                <li class="checkbox-wrapper col-12 d-flex">
                    <div class="mt-2 col-3 weekday-checkbox">
                        <span class="fw-bolder">星期</span>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="monday" id="monday"
                                   name="weekday">
                            <label class="form-check-label" for="monday">
                                週一
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="tuesday" id="tuesday"
                                   name="weekday">
                            <label class="form-check-label" for="tuesday">
                                週二
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="wednesday" id="wednesday"
                                   name="weekday">
                            <label class="form-check-label" for="wednesday">
                                週三
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="thursday" id="thursday"
                                   name="weekday">
                            <label class="form-check-label" for="thursday">
                                週四
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="friday" id="friday"
                                   name="weekday">
                            <label class="form-check-label" for="friday">
                                週五
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="saturday" id="saturday"
                                   name="weekday">
                            <label class="form-check-label" for="saturday">
                                週六
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="sunday" id="sunday"
                                   name="weekday">
                            <label class="form-check-label" for="sunday">
                                週日
                            </label>
                        </div>
                    </div>
                    <div class="mt-2 ps-3 col-4 timeslot-checkbox col-9">
                        <span class="fw-bolder">時段</span>
                        <div class="d-flex flex-wrap">
                            <div class="mt-1 col-12">am</div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="zero-oclock" id="zero-oclock"
                                       name="time">
                                <label class="form-check-label" for="zero-oclock">
                                    00:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="one-oclock" id="one-oclock"
                                       name="time">
                                <label class="form-check-label" for="one-oclock">
                                    01:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="two-oclock" id="two-oclock"
                                       name="time">
                                <label class="form-check-label" for="two-oclock">
                                    02:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="three-oclock"
                                       id="three-oclock" name="time">
                                <label class="form-check-label" for="three-oclock">
                                    03:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="four-oclock" id="four-oclock"
                                       name="time">
                                <label class="form-check-label" for="four-oclock">
                                    04:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="five-oclock" id="five-oclock"
                                       name="time">
                                <label class="form-check-label" for="five-oclock">
                                    05:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="six-oclock" id="six-oclock"
                                       name="time">
                                <label class="form-check-label" for="six-oclock">
                                    06:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="seven-oclock"
                                       id="seven-oclock" name="time">
                                <label class="form-check-label" for="seven-oclock">
                                    07:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="eight-oclock"
                                       id="eight-oclock" name="time">
                                <label class="form-check-label" for="eight-oclock">
                                    08:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="nine-oclock" id="nine-oclock"
                                       name="time">
                                <label class="form-check-label" for="nine-oclock">
                                    09:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="ten-oclock" id="ten-oclock"
                                       name="time">
                                <label class="form-check-label" for="ten-oclock">
                                    10:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="eleven-oclock"
                                       id="eleven-oclock" name="time">
                                <label class="form-check-label" for="eleven-oclock">
                                    11:00
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="col-12">pm</div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="twelve-oclock"
                                       id="twelve-oclock" name="time">
                                <label class="form-check-label" for="twelve-oclock">
                                    12:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="thirteen-oclock"
                                       id="thirteen-oclock" name="time">
                                <label class="form-check-label" for="thirteen-oclock">
                                    13:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="fourteen-oclock"
                                       id="fourteen-oclock" name="time">
                                <label class="form-check-label" for="fourteen-oclock">
                                    14:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="fifteen-oclock"
                                       id="fifteen-oclock" name="time">
                                <label class="form-check-label" for="fifteen-oclock">
                                    15:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="sixteen-oclock"
                                       id="sixteen-oclock" name="time">
                                <label class="form-check-label" for="sixteen-oclock">
                                    16:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="seventeen-oclock"
                                       id="seventeen-oclock" name="time">
                                <label class="form-check-label" for="seventeen-oclock">
                                    17:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="eighteen-oclock"
                                       id="eighteen-oclock" name="time">
                                <label class="form-check-label" for="eighteen-oclock">
                                    18:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="nineteen-oclock"
                                       id="nineteen-oclock" name="time">
                                <label class="form-check-label" for="nineteen-oclock">
                                    19:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="twenty-oclock"
                                       id="twenty-oclock" name="time">
                                <label class="form-check-label" for="twenty-oclock">
                                    20:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="twenty-one-oclock"
                                       id="twenty-one-oclock" name="time">
                                <label class="form-check-label" for="twenty-one-oclock">
                                    21:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="twenty-two-oclock"
                                       id="twenty-two-oclock" name="time">
                                <label class="form-check-label" for="twenty-two-oclock">
                                    22:00
                                </label>
                            </div>
                            <div class="form-check col-4">
                                <input class="form-check-input" type="checkbox" value="twenty-three-oclock"
                                       id="twenty-three-oclock" name="time">
                                <label class="form-check-label" for="twenty-three-oclock">
                                    23:00
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


        </div>
        <div class="btn-group me-1 mx-sm-2 mb-3">
            <button class="btn dropdown-toggle px-1 px-sm-3 py-2" type="button" data-bs-toggle="dropdown">
                預算區間 <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">NT$349 以下</button></li>
                <li><button class="dropdown-item" type="button">NT$350 - NT$499</button></li>
                <li><button class="dropdown-item" type="button">NT$500 - NT$799</button></li>
                <li><button class="dropdown-item" type="button">NT$800 - NT$999</button></li>
                <li><button class="dropdown-item" type="button">NT$1000以上</button></li>
            </ul>
        </div>
    </div>
    <div class="lh-tutors-order">
        <span class="fw-bold ms-2 ms-md-4">目前排序</span>
        <a href="" class="recommend">即時推薦</a>
        <a href="">優質教師優先</a>
        <a href="">低價優先</a>
        <a href="">多評價數優先</a>
    </div>
    <div class="lh-tutor-cards">
        <div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="tutor-headshot rounded-circle"
                             src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                        <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                             src="~/image/flag_imgs/uk_flag.png" />
                        <div class="tutor-online-status"></div>
                    </div>
                    <div class="lh-tutor-follow mt-2">+關注</div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex">
                        <a class="tutor-description-title" href="#">
                            Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇
                        </a>
                        <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip">
                            <img src="~/image/tutor_badge_imgs/tutor_badge.webp">
                        </span>
                    </div>
                    <div class="tutor-subtitle my-1">今天变得冷静和自信</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT$1,624 <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT$469 <span class="text">/ 體驗課</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.99</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">1064</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                        获得学士学位、理学硕士和剑桥资格
                        🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                    </p>
                    <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT$469 <div class="text">體驗課</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT$1,624 <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                            data-bs-target="#bookingTableModal">
                        預約體驗
                    </button>
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                    获得学士学位、理学硕士和剑桥资格
                    🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <a href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
                       data-bs-video="https://www.youtube.com/embed/3XToqdAcm9g">
                        <img src="~/image/thumb_nails/tutor001_thumbnail.jpg" alt="">
                    </a>
                    <img src="https://picsum.photos/id/210/350/220" alt="">
                    <img src="https://picsum.photos/id/250/350/220" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div class="morning sunday col p-0"></div>
                        <div class="morning monday  col p-0"></div>
                        <div class="morning tuesday occupied col p-0"></div>
                        <div class="morning wednesday col p-0"></div>
                        <div class="morning thursday col p-0"></div>
                        <div class="morning friday col p-0"></div>
                        <div class="morning saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div class="afternoon sunday col p-0"></div>
                        <div class="afternoon monday  col p-0"></div>
                        <div class="afternoon tuesday col p-0"></div>
                        <div class="afternoon wednesday available col p-0"></div>
                        <div class="afternoon thursday col p-0"></div>
                        <div class="afternoon friday col p-0"></div>
                        <div class="afternoon saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div class="evening sunday col p-0"></div>
                        <div class="evening monday  col p-0"></div>
                        <div class="evening tuesday col p-0"></div>
                        <div class="evening wednesday col p-0"></div>
                        <div class="evening thursday col p-0"></div>
                        <div class="evening friday col p-0"></div>
                        <div class="evening saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div class="midnight sunday col p-0"></div>
                        <div class="midnight monday  col p-0"></div>
                        <div class="midnight tuesday col p-0"></div>
                        <div class="midnight wednesday col p-0"></div>
                        <div class="midnight thursday col p-0"></div>
                        <div class="midnight friday col p-0"></div>
                        <div class="midnight saturday col p-0"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段已被預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
                    瀏覽更多
                </button>
            </div>
        </div>
        <div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="tutor-headshot rounded-circle"
                             src="~/image/tutor_headshot_imgs/tutor_head_002.png" />
                        <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                             src="~/image/flag_imgs/us_flag.png" />
                        <div class="tutor-online-status"></div>
                    </div>
                    <div class="lh-tutor-follow mt-2">+關注</div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex">
                        <a class="tutor-description-title" href="#">
                            Todd🤠American Teacher!🏅Kid's English
                            Expert! 🏅 Basic to Advanced😀
                        </a>
                        <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip"></span>
                    </div>
                    <div class="tutor-subtitle my-1">25分钟儿童课程</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT$857 <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT$514 <span class="text">/ 體驗課</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.5</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">1064</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        期待什麼：
                        😉定制課程
                        😃免費英語資源
                        🤡80% 學生演講
                        😃保證改善
                        🌄有趣和友好的環境
                        🌄額外的課外工作表和家庭作業（根據要求）
                        😀 很多談話😁
                    </p>
                    <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT$514 <div class="text">體驗課</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT$857 <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                            data-bs-target="#bookingTableModal">
                        預約體驗
                    </button>
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    期待什麼：
                    😉定制課程
                    😃免費英語資源
                    🤡80% 學生演講
                    😃保證改善
                    🌄有趣和友好的環境
                    🌄額外的課外工作表和家庭作業（根據要求）
                    😀 很多談話😁
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <a href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
                       data-bs-video="https://www.youtube.com/embed/xXsfl6RBuhQ">
                        <img src="~/image/thumb_nails/tutor002_thumbnail.jpg" alt="">
                    </a>

                    <img src="https://picsum.photos/id/210/350/220" alt="">
                    <img src="https://picsum.photos/id/250/350/220" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div class="morning sunday col p-0"></div>
                        <div class="morning monday  col p-0"></div>
                        <div class="morning tuesday occupied col p-0"></div>
                        <div class="morning wednesday col p-0"></div>
                        <div class="morning thursday col p-0"></div>
                        <div class="morning friday col p-0"></div>
                        <div class="morning saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div class="afternoon sunday col p-0"></div>
                        <div class="afternoon monday  col p-0"></div>
                        <div class="afternoon tuesday col p-0"></div>
                        <div class="afternoon wednesday available col p-0"></div>
                        <div class="afternoon thursday col p-0"></div>
                        <div class="afternoon friday col p-0"></div>
                        <div class="afternoon saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div class="evening sunday col p-0"></div>
                        <div class="evening monday  col p-0"></div>
                        <div class="evening tuesday col p-0"></div>
                        <div class="evening wednesday col p-0"></div>
                        <div class="evening thursday col p-0"></div>
                        <div class="evening friday col p-0"></div>
                        <div class="evening saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div class="midnight sunday col p-0"></div>
                        <div class="midnight monday  col p-0"></div>
                        <div class="midnight tuesday col p-0"></div>
                        <div class="midnight wednesday col p-0"></div>
                        <div class="midnight thursday col p-0"></div>
                        <div class="midnight friday col p-0"></div>
                        <div class="midnight saturday col p-0"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段已被預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
                    瀏覽更多
                </button>
            </div>
        </div>
        <div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="tutor-headshot rounded-circle"
                             src="~/image/tutor_headshot_imgs/tutor_head_003.jpg" />
                        <img class="tutor-nation-icon rounded-circle border border-white position-absolute object-fit-cover"
                             src="~/image/flag_imgs/korea_flag.jpg" />
                        <div class="tutor-online-status"></div>
                    </div>
                    <div class="lh-tutor-follow mt-2">+關注</div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex">
                        <a class="tutor-description-title" href="#">
                            🔥Summer Big
                            Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門 韓語口 新師6折優惠🔥
                        </a>
                        <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip">
                            <img src="~/image/tutor_badge_imgs/tutor_badge.webp" alt="">
                        </span>
                    </div>
                    <div class="tutor-subtitle my-1">🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT$678 <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT$407 <span class="text">/ 體驗課</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.72</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">1064</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】 💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛 💛兒童和青少年專家💛
                        💛英語學習韓語💛 💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛 💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                    </p>
                    <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT$407 <div class="text">體驗課</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT$678 <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                            data-bs-target="#bookingTableModal">
                        預約體驗
                    </button>
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】 💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛 💛兒童和青少年專家💛
                    💛英語學習韓語💛 💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛 💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <img src="https://picsum.photos/id/250/350/220" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div class="morning sunday col p-0"></div>
                        <div class="morning monday  col p-0"></div>
                        <div class="morning tuesday occupied col p-0"></div>
                        <div class="morning wednesday col p-0"></div>
                        <div class="morning thursday col p-0"></div>
                        <div class="morning friday col p-0"></div>
                        <div class="morning saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div class="afternoon sunday col p-0"></div>
                        <div class="afternoon monday  col p-0"></div>
                        <div class="afternoon tuesday col p-0"></div>
                        <div class="afternoon wednesday available col p-0"></div>
                        <div class="afternoon thursday col p-0"></div>
                        <div class="afternoon friday col p-0"></div>
                        <div class="afternoon saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div class="evening sunday col p-0"></div>
                        <div class="evening monday  col p-0"></div>
                        <div class="evening tuesday col p-0"></div>
                        <div class="evening wednesday col p-0"></div>
                        <div class="evening thursday col p-0"></div>
                        <div class="evening friday col p-0"></div>
                        <div class="evening saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div class="midnight sunday col p-0"></div>
                        <div class="midnight monday  col p-0"></div>
                        <div class="midnight tuesday col p-0"></div>
                        <div class="midnight wednesday col p-0"></div>
                        <div class="midnight thursday col p-0"></div>
                        <div class="midnight friday col p-0"></div>
                        <div class="midnight saturday col p-0"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段已被預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
                    瀏覽更多
                </button>
            </div>
        </div>
        <div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="tutor-headshot rounded-circle"
                             src="~/image/tutor_headshot_imgs/tutor_head_004.jpg" />
                        <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                             src="~/image/flag_imgs/taiwan_flag.jpg" />
                        <div class="tutor-online-status"></div>
                    </div>
                    <div class="lh-tutor-follow mt-2">+關注</div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex">
                        <a class="tutor-description-title" href="#">
                            Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                            面试教练🥇
                        </a>
                        <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip">
                            <img src="~/image/tutor_badge_imgs/tutor_badge.webp">
                        </span>
                    </div>
                    <div class="tutor-subtitle my-1">今天变得冷静和自信</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT$1,624 <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT$469 <span class="text">/ 體驗課</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.99</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">1064</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                        获得学士学位、理学硕士和剑桥资格
                        🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                    </p>
                    <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT$469 <div class="text">體驗課</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT$1,624 <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                            data-bs-target="#bookingTableModal">
                        預約體驗
                    </button>
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15 年以上国际经验 🌎 曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                    获得学士学位、理学硕士和剑桥资格
                    🥇找到你想要的工作 🔥 在顶尖大学学习 👑 克服你的恐惧 😎 找到你的声音🚀增强你的信心
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <a href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
                       data-bs-video="https://www.youtube.com/embed/3XToqdAcm9g">
                        <img src="~/image/thumb_nails/tutor001_thumbnail.jpg" alt="">
                    </a>
                    <img src="https://picsum.photos/id/210/350/220" alt="">
                    <img src="https://picsum.photos/id/250/350/220" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div class="morning sunday col p-0"></div>
                        <div class="morning monday  col p-0"></div>
                        <div class="morning tuesday occupied col p-0"></div>
                        <div class="morning wednesday col p-0"></div>
                        <div class="morning thursday col p-0"></div>
                        <div class="morning friday col p-0"></div>
                        <div class="morning saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div class="afternoon sunday col p-0"></div>
                        <div class="afternoon monday  col p-0"></div>
                        <div class="afternoon tuesday col p-0"></div>
                        <div class="afternoon wednesday available col p-0"></div>
                        <div class="afternoon thursday col p-0"></div>
                        <div class="afternoon friday col p-0"></div>
                        <div class="afternoon saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div class="evening sunday col p-0"></div>
                        <div class="evening monday  col p-0"></div>
                        <div class="evening tuesday col p-0"></div>
                        <div class="evening wednesday col p-0"></div>
                        <div class="evening thursday col p-0"></div>
                        <div class="evening friday col p-0"></div>
                        <div class="evening saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div class="midnight sunday col p-0"></div>
                        <div class="midnight monday  col p-0"></div>
                        <div class="midnight tuesday col p-0"></div>
                        <div class="midnight wednesday col p-0"></div>
                        <div class="midnight thursday col p-0"></div>
                        <div class="midnight friday col p-0"></div>
                        <div class="midnight saturday col p-0"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段已被預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
                    瀏覽更多
                </button>
            </div>
        </div>
        <div class="lh-tutor-card p-2 m-2 m-md-4 position-relative">
            <div class="lh-tutor-card__main d-flex pb-3 pb-md-0 pt-md-2">
                <div class="lh-tutor-images col-3 col-sm-2 d-flex flex-column align-items-center">
                    <div class="lh-tutor-images__head position-relative">
                        <img class="tutor-headshot rounded-circle"
                             src="~/image/tutor_headshot_imgs/tutor_head_005.jpg" />
                        <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                             src="~/image/flag_imgs/taiwan_flag.jpg" />
                        <div class="tutor-online-status"></div>
                    </div>
                    <div class="lh-tutor-follow mt-2">+關注</div>
                </div>
                <div class="lh-tutor-description flex-grow-1 col-9 col-md-7 px-2 px-md-3">
                    <div class="tutor-description-title-wrapper d-flex">
                        <a class="tutor-description-title" href="#">
                            Todd🤠American Teacher!🏅Kid's English
                            Expert! 🏅 Basic to Advanced😀
                        </a>
                        <span class="tutor-badge ms-1 badge-tooltip" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="僅有8.5%的優質教師"
                              data-bs-custom-class="custom-tooltip"></span>
                    </div>
                    <div class="tutor-subtitle my-1">25分钟儿童课程</div>
                    <div class="course-pricing d-flex justify-content-between mb-2 d-md-none">
                        <div class="fifty-min-course-pricing">
                            NT$857 <span class="text">/ 50分鐘</span>
                        </div>
                        <div class="trail-course-pricing">NT$514 <span class="text">/ 體驗課</span></div>
                    </div>
                    <div class="tutor-received-feedback d-flex gap-1 my-md-2">
                        <div class="tutor-ranking"><i class="bi bi-star-fill pe-1"></i><span>4.5</span></div>
                        <div>・</div>
                        <div class="tutor-total-reviews"><span class="pe-1">1064</span>個評論</div>
                    </div>
                    <p class="tutor-intro-text mb-2">
                        期待什麼：
                        😉定制課程
                        😃免費英語資源
                        🤡80% 學生演講
                        😃保證改善
                        🌄有趣和友好的環境
                        🌄額外的課外工作表和家庭作業（根據要求）
                        😀 很多談話😁
                    </p>
                    <a href="#" class="tutor-viewmore d-none d-md-block mb-md-1">瀏覽更多</a>
                </div>
                <div class="lh-tutor-contact d-none d-md-flex flex-column col-md-3 ps-md-2 gap-2">
                    <div class="course-pricing d-flex">
                        <div class="trail-course-pricing col-6">
                            NT$514 <div class="text">體驗課</div>
                        </div>
                        <div class="fifty-min-course-pricing col-6">
                            NT$857 <div class="text">50分鐘</div>
                        </div>
                    </div>
                    <button type="button" class="lh-tutor-card__book-btn mx-auto my-1 col-11" data-bs-toggle="modal"
                            data-bs-target="#bookingTableModal">
                        預約體驗
                    </button>
                    <button type="button" class="lh-tutor-card__contact-tutor-btn mx-auto my-1 col-11"
                            data-bs-toggle="modal" data-bs-target="#contactTutorModal">
                        聯繫老師
                    </button>
                </div>
            </div>
            <div class="lh-tutor-card__preview mt-3 mb-2 col-12 d-md-none">
                <p class="tutor-intro-text">
                    期待什麼：
                    😉定制課程
                    😃免費英語資源
                    🤡80% 學生演講
                    😃保證改善
                    🌄有趣和友好的環境
                    🌄額外的課外工作表和家庭作業（根據要求）
                    😀 很多談話😁
                </p>
            </div>
            <div class="lh-tutor-card__book d-flex justify-content-center">
                <button type="button" class="lh-tutor-card__book-btn m-1 p-2 w-100 d-md-none" data-bs-toggle="modal"
                        data-bs-target="#bookingTableModal">
                    預約立即體驗
                </button>
            </div>
            <div class="lh-tutor-card-floating-popup px-2 py-3 position-absolute d-none">
                <div class="tutor-intro-media-container col-12 mx-auto">
                    <a href="#" class="btn btn-default p-0" data-bs-toggle="modal" data-bs-target="#videoModal"
                       data-bs-video="https://www.youtube.com/embed/xXsfl6RBuhQ">
                        <img src="~/image/thumb_nails/tutor002_thumbnail.jpg" alt="">
                    </a>
                    <img src="https://picsum.photos/id/210/350/220" alt="">
                    <img src="https://picsum.photos/id/250/350/220" alt="">
                </div>
                <div class="arrow_prev position-absolute"><i class="fa-solid fa-angle-left"></i></div>
                <div class="arrow_next position-absolute"><i class="fa-solid fa-angle-right"></i></div>
                <p class="mt-2 mb-1">*日期以 台北 GMT +8:00 顯示</p>
                <div class="tutor-timeslot-table col-11 mx-auto">
                    <div class="row">
                        <div class="weekday col-3 p-0"></div>
                        <div class="weekday col p-0">週日</div>
                        <div class="weekday col p-0">週一</div>
                        <div class="weekday col p-0">週二</div>
                        <div class="weekday col p-0">週三</div>
                        <div class="weekday col p-0">週四</div>
                        <div class="weekday col p-0">週五</div>
                        <div class="weekday col p-0">週六</div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            上午 <div class="time">06:00-12:00</div>
                        </div>
                        <div class="morning sunday col p-0"></div>
                        <div class="morning monday  col p-0"></div>
                        <div class="morning tuesday occupied col p-0"></div>
                        <div class="morning wednesday col p-0"></div>
                        <div class="morning thursday col p-0"></div>
                        <div class="morning friday col p-0"></div>
                        <div class="morning saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            下午 <div class="time">12:00-18:00</div>
                        </div>
                        <div class="afternoon sunday col p-0"></div>
                        <div class="afternoon monday  col p-0"></div>
                        <div class="afternoon tuesday col p-0"></div>
                        <div class="afternoon wednesday available col p-0"></div>
                        <div class="afternoon thursday col p-0"></div>
                        <div class="afternoon friday col p-0"></div>
                        <div class="afternoon saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            傍晚 <div class="time">18:00-24:00</div>
                        </div>
                        <div class="evening sunday col p-0"></div>
                        <div class="evening monday  col p-0"></div>
                        <div class="evening tuesday col p-0"></div>
                        <div class="evening wednesday col p-0"></div>
                        <div class="evening thursday col p-0"></div>
                        <div class="evening friday col p-0"></div>
                        <div class="evening saturday col p-0"></div>
                    </div>
                    <div class="row">
                        <div class="timeslot col-3 p-0">
                            深夜 <div class="time">00:00-06:00</div>
                        </div>
                        <div class="midnight sunday col p-0"></div>
                        <div class="midnight monday  col p-0"></div>
                        <div class="midnight tuesday col p-0"></div>
                        <div class="midnight wednesday col p-0"></div>
                        <div class="midnight thursday col p-0"></div>
                        <div class="midnight friday col p-0"></div>
                        <div class="midnight saturday col p-0"></div>
                    </div>
                </div>
                <div class="time-slot-table-rule mt-2 d-flex justify-content-end gap-3 pe-1">
                    <div class="d-flex align-items-center">
                        <span class="color-block occupied me-1"></span>時段已被預約
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="color-block available me-1"></span>尚有可預約時段
                    </div>
                </div>
                <button type="button" class="view-more-btn btn mt-3 p-2 w-100">
                    瀏覽更多
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <div>
                        <iframe width="100%" height="350" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookingTableModal" tabindex="-1" aria-labelledby="bookingTableModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container booking-table-container py-3">
                    <div class="booking-table-title d-flex justify-content-between">
                        <h3 class="text-start">預約課程</h3>
                        <p class="timezone-text">時間以 台北 GMT +08:00 顯示</p>
                    </div>
                    <div class="booking-table-date-switcher d-flex col-12 mb-4">
                        <div class="text-center d-flex gap-1 me-3">
                            <button id="prevWeek"><i class="fa-solid fa-angle-left"></i></button>
                            <button id="nextWeek"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                        <div id="weekRange"></div>
                    </div>
                    <div class="booking-table-body-wrapper d-flex justify-content-center w-100"
                         id="bookingTableBodyWrapper">
                        <div class="table booking-table w-100">
                            <div>
                                <div id="bookingTableHeader">
                                    <!-- rendered by JS -->
                                </div>
                            </div>
                            <div id="bookingTableBody">
                                <!-- rendered by JS -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <button id="expandBookingTable" class="btn btn-open">展開完整時間</button>
                    </div> -->
                </div>
                <div class="modal fade" id="confirmBookingModal" tabindex="-1"
                     aria-labelledby="confirmBookingModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div>確認預約內容</div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">
                                <img class="tutor-headshot rounded-circle"
                                     src="/Materials/tutor_headshot_imgs/tutor_head_001.jpg" alt="Tutor's Photo">
                                <p class="overflow-hidden">
                                    <strong>教師名稱：</strong>{{ tutorName }}
                                </p>
                                <p><strong>預約堂數：</strong> {{ bookedLessons }}</p>

                            </div>
                            <table class="book-info-table ">
                                <thead>
                                    <tr>
                                        <th>課程日期</th>
                                        <th>時間</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="confirmBookingModalDate"></td>
                                        <td id="confirmBookingModalTime"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="modal-footer col-8 mx-auto mb-2 d-flex justify-content-between">
                                <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-next">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contactTutorModal" tabindex="-1" aria-labelledby="contactTutorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-flex gap-4">
                        <img class="tutor-headshot" src="~/image/tutor_headshot_imgs/tutor_head_001.jpg"
                             alt="">
                        <div class="d-flex flex-column">
                            <h4 class="tutor-description-title">
                                Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                面试教练🥇
                            </h4>
                            <p>傳送訊息給tutorxxx@talkingtopia.com</p>
                            <p class="d-block text-dark">教師將會在有空的時間回覆您訊息</p>
                        </div>
                    </div>

                </div>
                <div class="modal-body px-md-4 pb-0">
                    <form>
                        <input class="form-control" type="text" value="tutorxxx@talkingtopia.com"
                               aria-label="Disabled input example" disabled readonly>
                        <div class="input-group my-3">
                            <select class="form-select" id="messageTypeSelect">
                                <option selected>問題類型...</option>
                                <option value="1">課程諮詢</option>
                                <option value="2">特殊時段預約</option>
                                <option value="3">費用疑問</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Enter your message here"
                                      id="floatingTextarea2" style="height: 250px"></textarea>
                            <label for="floatingTextarea2">請輸入訊息內容...</label>
                        </div>
                        <div class="input-group file-upload my-3">
                            <input type="file" class="form-control" id="inputGroupFile02" multiple
                                   data-show-upload="true" data-show-caption="true">
                            <label class="input-group-text" for="inputGroupFile02">上傳</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn send-btn">傳送訊息</button>
                </div>


            </div>
        </div>
    </div>

    <div class="lh-tutors-switch-page-btns d-flex justify-content-center align-items-center">
        <button type="button" class="prev-page"><i class="fa-solid fa-angle-left"></i></button>
        <div class="page-text mx-3 mx-md-4">1</div>
        <button type="button" class="next-page"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</section>


@section endJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js"
            integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/course_list.js"></script>
    <script src="~/js/nested_dropdown.js"></script>
    <script src="~/js/booking_table_modal.js"></script>
}
