<partial name="_BannerPartial" />
<div class="container lh-backstage mt-5" id="app">
    <div class="row overflow-hidden">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-watchlist-section mb-5"
                 id="lh-backstage-watchlist-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           data-bs-toggle="tab"
                           href="#lh-backstage-watchlist-item">
                            英文
                        </a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-watchlist-item-2">程式設計</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="container tab-pane fade show active"
                         id="lh-backstage-watchlist-item">
                        <div class="lh-tutor-detailed-info col-md-8 position-relative">
                            <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
                                <div class="tutor-recommend-carousel">
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/uk_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>

                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>

                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_002.png" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/us_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>

                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Todd🤠American Teacher!🏅Kid's English Expert! 🏅
                                                    Basic to Advanced😀
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                                            <p class="tutor-intro-text mb-2">
                                                會說英文 中文 日文 韓文 西班牙文 粵語 期待什麼：
                                                😉定制課程 😃免費英語資源 🤡80% 學生演講 😃保證改善
                                                🌄有趣和友好的環境
                                                🌄額外的課外工作表和家庭作業（根據要求） 😀
                                                很多談話😁
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$514
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$857
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_003.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/korea_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    🔥Summer Big
                                                    Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門
                                                    韓語口 新師6折優惠🔥
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                                                💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛
                                                💛兒童和青少年專家💛 💛英語學習韓語💛
                                                💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                                                💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$407
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$678
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_004.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_005.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/uk_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_002.png" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/us_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Todd🤠American Teacher!🏅Kid's English Expert! 🏅
                                                    Basic to Advanced😀
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                                            <p class="tutor-intro-text mb-2">
                                                會說英文 中文 日文 韓文 西班牙文 粵語 期待什麼：
                                                😉定制課程 😃免費英語資源 🤡80% 學生演講 😃保證改善
                                                🌄有趣和友好的環境
                                                🌄額外的課外工作表和家庭作業（根據要求） 😀
                                                很多談話😁
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$514
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$857
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_003.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/korea_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    🔥Summer Big
                                                    Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門
                                                    韓語口 新師6折優惠🔥
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                                                💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛
                                                💛兒童和青少年專家💛 💛英語學習韓語💛
                                                💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                                                💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$407
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$678
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_004.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_005.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container tab-pane fade"
                         id="lh-backstage-watchlist-item-2">
                        <div class="lh-tutor-detailed-info col-md-8 position-relative">
                            <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
                                <div class="tutor-recommend-carousel">
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/uk_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_002.png" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/us_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Todd🤠American Teacher!🏅Kid's English Expert! 🏅
                                                    Basic to Advanced😀
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                                            <p class="tutor-intro-text mb-2">
                                                會說英文 中文 日文 韓文 西班牙文 粵語 期待什麼：
                                                😉定制課程 😃免費英語資源 🤡80% 學生演講 😃保證改善
                                                🌄有趣和友好的環境
                                                🌄額外的課外工作表和家庭作業（根據要求） 😀
                                                很多談話😁
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$514
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$857
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_003.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/korea_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    🔥Summer Big
                                                    Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門
                                                    韓語口 新師6折優惠🔥
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                                                💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛
                                                💛兒童和青少年專家💛 💛英語學習韓語💛
                                                💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                                                💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$407
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$678
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_004.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_005.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/uk_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_002.png" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/us_flag.png" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$857</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Todd🤠American Teacher!🏅Kid's English Expert! 🏅
                                                    Basic to Advanced😀
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.5</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">25分钟儿童课程</div>
                                            <p class="tutor-intro-text mb-2">
                                                會說英文 中文 日文 韓文 西班牙文 粵語 期待什麼：
                                                😉定制課程 😃免費英語資源 🤡80% 學生演講 😃保證改善
                                                🌄有趣和友好的環境
                                                🌄額外的課外工作表和家庭作業（根據要求） 😀
                                                很多談話😁
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$514
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$857
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_003.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/korea_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$678</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    🔥Summer Big
                                                    Sale😍現在是購課的時候!大促銷🐰💕𝗘𝗨𝗡𝗪𝗢𝗢💎𝙆𝙋𝙊𝙋⭐️𝙏𝙊𝙋𝙄𝙆專門
                                                    韓語口 新師6折優惠🔥
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.72</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                🔥各程度口說🔥𝐊-𝐩𝐨𝐩✨
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                【🔥大量購課優惠：單次購課超過３０堂以上🔥⭐️請向老師索取特別優惠包😍】
                                                💛你好，這是韓國人Eunwoo。💛 💛 4年以上的教學經驗💛
                                                💛兒童和青少年專家💛 💛英語學習韓語💛
                                                💛韓國土生土長，但在美國/澳大利亞/新西蘭生活了10年，英文流利。💛
                                                💛通過K-Pop和K-Drama學習有趣的韓國和韓國文化。💛
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$407
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$678
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_004.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div href=""
                                         class="lh-tutor-card py-3 px-4 position-relative">
                                        <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center mx-auto">
                                            <div class="lh-tutor-images__head position-relative mt-1 mb-2">
                                                <img class="tutor-headshot rounded-circle"
                                                     src="~/image/tutor_headshot_imgs/tutor_head_005.jpg" />
                                                <img class="tutor-nation-icon rounded-circle border border-white position-absolute"
                                                     src="~/image/flag_imgs/taiwan_flag.jpg" />
                                                <div class="tutor-online-status"></div>
                                            </div>
                                            <div class="tutor-head-brief-pricing">
                                                <span class="fifty-min-course-pricing fw-bolder">NT$1,624</span><span class="text">/ 50分鐘</span>
                                            </div>
                                            <div class="lh-tutor-follow my-2">+關注</div>
                                        </div>
                                        <div class="lh-tutor-card__body">
                                            <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
                                                <a class="tutor-description-title col-8" href="#">
                                                    Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇Feds🥇顶级雅思| 批判性思维 |
                                                    面试教练🥇
                                                </a>
                                                <div class="tutor-ranking col-4 d-flex justify-content-end">
                                                    <i class="bi bi-star-fill pe-1"></i><span>4.99</span>
                                                </div>
                                            </div>
                                            <div class="tutor-subtitle mb-3">
                                                今天变得冷静和自信
                                            </div>
                                            <p class="tutor-intro-text mb-2">
                                                💰你是老师吗？ 获得折扣！🇬🇧 常驻利兹（英国） 🇺🇸 15
                                                年以上国际经验 🌎
                                                曾就职于谷歌、环球音乐和国际特赦组织 🤝 传播专家 👩🏻‍🎓
                                                获得学士学位、理学硕士和剑桥资格 🥇找到你想要的工作
                                                🔥 在顶尖大学学习 👑 克服你的恐惧 😎
                                                找到你的声音🚀增强你的信心
                                            </p>
                                            <div class="course-pricing d-flex justify-content-between mb-2">
                                                <div class="trail-course-pricing">
                                                    NT$469
                                                    <div class="text">體驗課</div>
                                                </div>
                                                <div class="fifty-min-course-pricing">
                                                    NT$1,624
                                                    <div class="text">50分鐘</div>
                                                </div>
                                            </div>
                                            <div class="contact-btns-wrapper d-flex gap-1">
                                                <button type="button"
                                                        class="lh-tutor-card__book-btn col-8">
                                                    預約體驗
                                                </button>
                                                <button type="button"
                                                        class="lh-tutor-card__contact-tutor-btn col-4">
                                                    聯繫老師
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/tutor_recommend.css" />
    <link rel="stylesheet" href="~/css/backstage_member.css" />
}
@section endJS{

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js"
            integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="~/js/tutor_recommend_carousel_layout.js"></script>

}