@using Web.ViewModels
@model CourseInfoListViewModel
@section topCSS
{
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/homepage.css?v=202408211924" rel="stylesheet"/>
}
<partial name="_BannerPartial" />

<main>
    <div class="container">
        <div class="row">
            <!-- courseTopicTab -->
            <div class="col-12">
                <div class="lh-layout-tabs-wrapper mt-5">
@*                     <span class="lh-tab-arrow lh-tab-arrow-left">&lt;</span> *@
                    <div class="lh-layout-tabs">
                        <span class="lh-layout-tab active">語言學習</span>
                        <span class="lh-layout-tab">程式語言</span>
                        <span class="lh-layout-tab">升學補習</span>
@*                         <span class="lh-layout-tab">音樂課程</span>
                        <span class="lh-layout-tab">運動課程</span>
                        <span class="lh-layout-tab">生活品味</span> *@
                    </div>
@*                     <span class="lh-tab-arrow lh-tab-arrow-right">&gt;</span>
 *@                </div>
            </div>
            <!-- 卡片內容 -->
            @foreach (var item in Model.CourseInfoList)
            {
                <div class="col-12 col-md-2 lh-layout-course-card">
                    <img src="@item.HeadShotImage">
                    <div class="lh-layout-course-info">
                        <p>@item.SubjectName</p>
                        <span>NT$ @item.TwentyFiveMinUnitPrice/堂</span>
                    </div>
                </div>
            }
           

            @* <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div>
            <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div>
            <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div>
            <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div>
            <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div>
            <div class="col-12 col-md-2 lh-layout-course-card">
                <img src="https://fakeimg.pl/300x300/02c5b4">
                <div class="lh-layout-course-info">
                    <p>法文家教</p>
                    <span>NT$365/堂</span>
                </div>
            </div> *@
            <!-- hotCourse -->
            <div class="lh-layout-hot-course-container mt-5">
                <div class="lh-layout-hot-course-title col-12 col-md-12 text-center mb-5">
                    <h2>熱門課程主題</h2>
                </div>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">英文會話</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">日文會話</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">國小國文</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">高中演講 (15-17)</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">吉他興趣</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">職涯諮詢</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">中文會話</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">高中數學</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">塔羅</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">情緒管理</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">鋼琴興趣</div>
                </a>
                <a href="#" class="lh-layout-hot-course-item col-6 col-md-2">
                    <div class="lh-layout-course-name">C++</div>
                </a>
            </div>

            <!-- FourReason -->
            <div class="lh-layout-four-reason-container mt-5">
                <div class="lh-layout-four-reason-title">
                    <h2>4 個愛上 TalkingTopia 的理由</h2>
                </div>
                <div class="col-12 col-md-5 lh-layout-four-reason-item d-flex align-items-center mb-4">
                    <img src="https://fakeimg.pl/66x66/200" class="img-fluid">
                    <div class="divider"></div>
                    <div class="lh-layout-four-reason-content">
                        <h3>任選上課時間</h3>
                        <p>
                            自己在課表選擇上課時間<br>
                            方便學習沒有壓力
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-5 lh-layout-four-reason-item d-flex align-items-center mb-4">
                    <img src="https://fakeimg.pl/66x66/200" class="img-fluid">
                    <div class="divider"></div>
                    <div class="lh-layout-four-reason-content">
                        <h3>專屬你的課程</h3>
                        <p>
                            依照能力、需求、喜好<br>
                            為你打造客製化 有效進步的課程
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-5 lh-layout-four-reason-item d-flex align-items-center mb-4">
                    <img src="https://fakeimg.pl/66x66/200" class="img-fluid">
                    <div class="divider"></div>
                    <div class="lh-layout-four-reason-content">
                        <h3>1堂也能買</h3>
                        <p>
                            沒有業務綁約 根據個人需求<br>
                            1、5、100 堂都能購買
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-5 lh-layout-four-reason-item d-flex align-items-center mb-4">
                    <img src="https://fakeimg.pl/66x66/200" class="img-fluid">
                    <div class="divider"></div>
                    <div class="lh-layout-four-reason-content">
                        <h3>自選上課老師</h3>
                        <p>
                            ✓影片 ✓履歷 ✓學生評價<br>
                            3 大方向自選老師 進步看得見
                        </p>
                    </div>
                </div>
            </div>
            <div class="lh-layout-four-reason-button text-center">
                <a href="/Tutors/course_list.html" class="btn btn-four-reason">開始挑選教師吧！</a>
            </div>

            <!-- Suitable -->
            <div class="lh-layout-suitable-container mt-5">
                <div class="lh-layout-suitable-title">
                    <h2>TalkingTopia 也適合我嗎？</h2>
                </div>
                <div class="col-12 col-md-4 lh-layout-suitable-item text-center">
                    <img src="../image/mainpage_imgs/suitable-examinee.webp" class="lh-layout-suitable-img" alt="考生">
                    <h3>考生</h3>
                    <p>
                        針對弱點特別備課<br>
                        檢定考試、出國留學輕鬆過關
                    </p>
                </div>
                <div class="col-12 col-md-4 lh-layout-suitable-item text-center">
                    <img src="../image/mainpage_imgs/suitable-worker.webp" class="lh-layout-suitable-img" alt="職場人士">
                    <h3>工作人士</h3>
                    <p>
                        成功提升語言競爭力<br>
                        加薪、轉職、興趣學習自在達成目標
                    </p>
                </div>
                <div class="col-12 col-md-4 lh-layout-suitable-item text-center">
                    <img src="../image/mainpage_imgs/suitable-children.webp" class="lh-layout-suitable-img" alt="孩童">
                    <h3>孩童</h3>
                    <p>
                        客製幼童 1 對 1 母語環境<br>
                        快樂學習養成從小雙語競爭力
                    </p>
                </div>
            </div>

            <!-- UsageGuide -->
            <div class="lh-layout-usage-guide-container mt-5">
                <div class="lh-layout-four-reason-title">
                    <h2>如何使用TalkingTopia</h2>
                </div>
                <div class="lh-layout-usage-guide-item">
                    <div class="col-12 col-md-6 lh-layout-usage-guide-img d-flex align-items-center">
                        <img src="../image/mainpage_imgs/select-tutor.webp" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <div>
                            <div class="lh-layout-usage-guide-content d-flex align-items-center">
                                <div class="lh-layout-usage-guide-step">1</div>
                                <div class="ms-3">
                                    <h3>自選家教、溝通需求</h3>
                                    <p>
                                        依影片、履歷 、學生評價 選擇老師<br>
                                        並在課前私訊老師 溝通上課內容
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lh-layout-usage-guide-item">
                    <div class="col-12 col-md-6 lh-layout-usage-guide-img d-flex align-items-center">
                        <img src="../image/mainpage_imgs/select-time.webp" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <div>
                            <div class="lh-layout-usage-guide-content d-flex align-items-center">
                                <div class="lh-layout-usage-guide-step">2</div>
                                <div class="ms-3">
                                    <h3>選擇時間、預約上課</h3>
                                    <p>
                                        購買課程後 彈性選擇上課時間<br>
                                        若臨時有事也可以在12小時前取消課程
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lh-layout-usage-guide-item">
                    <div class="col-12 col-md-6 lh-layout-usage-guide-img d-flex align-items-center">
                        <img src="../image/mainpage_imgs/select-place.webp" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <div>
                            <div class="lh-layout-usage-guide-content d-flex align-items-center">
                                <div class="lh-layout-usage-guide-step">3</div>
                                <div class="ms-3">
                                    <h3>彈性地點、開啟課程</h3>
                                    <p>
                                        不管在哪，手機、電腦、平板皆可以自在上課<br>
                                        時間到使用 Zoom 線上教室開啟課程
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress -->
            <div class="lh-layout-progress-container text-center mt-5">
                <div class="lh-layout-progress-title col-12">
                    3%的教師合格率<br>教師嚴選流程
                </div>
                <div class="col-12 lh-layout-progress-items d-flex justify-content-center align-items-center">
                    <div class="col-md-2 lh-layout-progress-item">
                        <div class="lh-layout-progress-icon">
                            <img src="../image/mainpage_imgs/apply.png" alt="">
                        </div>
                        <h3>申請條件需符合</h3>
                        <div class="lh-layout-progress-divider"></div>
                        <p>有家教、教師經驗或<br>語言相關證照才能提出申請</p>
                    </div>
                    <div class="lh-layout-progress-arrow">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="col-md-2 lh-layout-progress-item">
                        <div class="lh-layout-progress-icon">
                            <img src="../image/mainpage_imgs/interview.png" alt="">
                        </div>
                        <h3>嚴格招募面試</h3>
                        <div class="lh-layout-progress-divider"></div>
                        <p>
                            嚴格篩選出的優質教師<br>
                            才能在 AmazingTalker 上線授課
                        </p>
                    </div>
                    <div class="lh-layout-progress-arrow">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="col-md-2 lh-layout-progress-item">
                        <div class="lh-layout-progress-icon">
                            <img src="../image/mainpage_imgs/training.png" alt="">
                        </div>
                        <h3>完善教師培訓</h3>
                        <div class="lh-layout-progress-divider"></div>
                        <p>教師上線都將接受教師培訓<br>學生需求與教材製作力的提升</p>
                    </div>
                    <div class="lh-layout-progress-arrow">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="col-md-2 lh-layout-progress-item">
                        <div class="lh-layout-progress-icon">
                            <img src="../image/mainpage_imgs/ai_recommend.png" alt="">
                        </div>
                        <h3>AI 篩選排名</h3>
                        <div class="lh-layout-progress-divider"></div>
                        <p>AmazingTalker擁有AI排序法<br>追蹤教師總評分 即時變動排序</p>
                    </div>
                </div>
            </div>

            <!-- Guarentee -->
            <!-- <div class="lh-layout-guarentee-icon">
              <svg viewBox="0 0 24 24">
                <path d="M12 17l-5 5v-18h10v18l-5-5zm1-14h-2v10h2v-10z"></path>
              </svg>
            </div> -->
            <div class="lh-layout-guarentee-container mt-5">
                <div class="lh-layout-guarentee-title col-12 col-md-12">
                    <h3>100% 每堂課保障</h3>
                    <p>
                        學生確認課程完成 才會撥款給教師<br>
                        若教師無法達到您的預期 可以直接轉移選購其他教師
                    </p>
                </div>
                <partial name="_VideoPartial" />

            </div>



        </div>
    </div>
</main>

@section endJS
{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="~/js/homepage.js"></script>
}

