<partial name="_BannerPartial"/>
<div class="container" style="margin-top:100px;">
    <!-- 內容 Row -->
    <div class="row">
        <!-- 每則問答對話 -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">needed的用法是什麼？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Eileen</strong>
                            <p class="text-muted mb-0">旅居美國受教15年//美式英語口說輔導//寫作編輯修改//牛津大學及美國英語教學協會認證--TESOL證書</p>
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">Needed為動詞的過去式及過去分詞</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">3 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 其他問答對話 -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">of的15大常見用法、解釋及例句有哪些？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Jasmine</strong>
                            <p class="text-muted mb-0">會話應試維考試技巧專家</p>
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">of是一個介詞。很多同學都對介詞的用法感到頭疼。其實of的用法呢，其實說簡單也簡單，只要掌握它的幾個主要作用，用好of就輕而易舉啦！</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">6 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">either是什麼意思？用法是什麼？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Sa Sa</strong>
                            <p class="text-muted mb-0">12年兒童美語教學專家 🌟 畢澳洲坎培拉學院 🌟 有趣自然發音課程 🌟 YLE劍橋英檢衡刺班 🌿 英檢初級中級英檢達標 🌿</p>
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">either是什麼意思？用法是什麼？</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">10 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">有三個問題想請問：「中午」的英文有哪些說法？noon和afternoon的差異？morning、afternoon、evening各是幾點到幾點？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Tom 林</strong>
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">
                        中午的說法有下列幾種：Noon 和 Midday 都適用 當然也可以直接說明確的時間 (12 p.m.)

                        Midday 這個詞可以視作為 Mid 和 Day 指的是一天的中間

                        在職場或學校裡 大部分人也會稱中午這段休息時間為 lunch time

                        意思是 午餐 (lunch) 時間 (time).
                    </p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">18 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">suggest的中文是什麼？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Eva 🌸</strong> 初學者發音訓練 💖 自信開口說出來 🌺
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">Suggest 最常聽到的中文意思是 { 建議 }</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">13 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">such as的用法是什麼？要加逗號嗎？與for example、like的差別在哪？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Esther 🍀</strong> 新生請排隊 📚 專科出生 👊 專業兒美老師 ✨
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">such as的用法是什麼？要加逗號嗎？與for example、like的差別在哪？基本上都是舉例的意思 - 但是用法上有些微的不同</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">36 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body lh-q-card-body">
                    <!-- 問答標題 -->
                    <h5 class="card-title fw-bold">when有哪些用法？和while的差別是什麼？</h5>
                    <div class="d-flex align-items-center mb-2">
                        <!-- 使用者圖片 -->
                        <img src="~/image/tutor_headshot_imgs/tutor_head_001.jpg" alt="User Image" class="rounded-circle me-2 lh-photoshop" style="width:5%">
                        <!-- 使用者資訊 -->
                        <div>
                            <strong>Tom 林</strong>
                        </div>
                    </div>
                    <!-- 問答內文 -->
                    <p class="card-text">「when」和「while」好像意思很相近，但其實有很多區別，我們一起來看看吧！</p>
                    <!-- 底部信息 -->
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">18 個回覆</small>
                        <a href="#" class="card-link  ">閱讀全文 &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section topCSS{
   <style>
        a {
            text-decoration: none;
            color: var(--theme-color);
        }
   </style>
}