

<div class="container lh-backstage">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>謝謝您的購買！<a asp-controller="Order" asp-action="GetData">請點我檢視訂單明細</a></h2>
            <img class="w-50" src="~/image/success.webp" />
        </div>
    </div>
</div>
@section topCSS {

    <link href="~/css/backstage.css" rel="stylesheet" />

}