body {
    background-color: #f8f9fa;
}

.forgot-password-confirmation-container {
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .forgot-password-confirmation-container h2 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    .forgot-password-confirmation-container p {
        font-size: 16px;
    }
