.custom-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.message-window,
.chat-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.message-window {
    z-index: 100;
}

.message-header,
.chat-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color);
    color: white;
}

.message-header h5,
.chat-header h6 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.message-search {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.message-search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
}

.message-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: calc(100% - 115px);
    overflow-y: auto;
}

.message-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.message-item img,
.chat-message img,
.chat-header .teacher-info img,
.teacher-intro img {
    border-radius: 50%;
}

.message-item img,
.chat-message img,
.chat-header .teacher-info img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.message-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-content h6,
.chat-message strong {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.message-content p,
.chat-message p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-time {
    margin-left: auto;
    font-size: 12px;
    color: #999;
}

.btn-close,
.btn-toggle,
.chat-header .nav-buttons button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
}

.chat-header .teacher-info {
    display: flex;
    align-items: center;
}

.chat-header .nav-buttons {
    display: flex;
    gap: 10px;
}

.teacher-intro {
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teacher-intro div {
    margin: 2px;
    width: 200px;
    padding: 0px;
    height: 1.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 60px; /* 留出足夠空間給底部的輸入框 */
}

.chat-message {
    margin-bottom: 20px;
    display: flex;
}

.chat-message .message-content {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    position: absolute; /* 固定在底部 */
    bottom: 0; /* 將輸入框固定在容器底部 */
    width: 100%; /* 確保寬度與容器相同 */
    
}



.chat-input textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    resize: none;
    flex-grow: 1;
}

.chat-input button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.chat-container {
    display: none;
}

.chat-header .close-chat {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}