body {
    background-color: #f8f9fa;
}

.reset-password-container {
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

    .reset-password-container h2 {
        margin-bottom: 20px;
        font-weight: bold;
        text-align: left;
    }

::placeholder {
    color: #ff5f5f;
    opacity: 1;
}

.form-control {
    border-radius: 0;
    margin-bottom: 5px;
}

    .form-control:focus::placeholder {
        color: #02c5b4;
        opacity: 1;
    }

.btn-custom {
    background-color: #02c5b4;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

    .btn-custom:hover {
        border: 1px #02c5b4 solid;
        background-color: #fff;
        color: #02c5b4;
    }
