.arrow_prev {
    position: absolute;
    top: 46%;
    left: 0;
    display: block;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--theme-color);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}

.arrow_next {
    position: absolute;
    top: 46%;
    right: 0;
    display: block;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--theme-color);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
}
