<div class="banner">
    <div class="banner-image">
        <img src="https://fakeimg.pl/1920x500/200">
    </div>
    <div class="titles">
        <div class="main-title">
            <h1>像好友一樣的優質教師</h1>
        </div>
        <div class="sub-title">
            <h2>從 TalkingTopia 認識世界各地的人與文化</h2>
        </div>
    </div>
</div>