<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Talking Topia</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick-theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @await RenderSectionAsync("topCSS", required: false)
    @await RenderSectionAsync("topJS", required: false)
</head>

<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://TalkingTopia的首頁">
                    <img src="../image/logo_imgs/TalkingTopia logo_final.png" alt="Logo" width="125"
                         class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 將搜尋欄位移出collapse -->
                <ul class="navbar-nav mx-1">
                    <li class="nav-item search-teacher">
                        <form class="d-flex">
                            <div class="input-container">
                                <input class="form-control" type="search" placeholder="搜尋課程" aria-label="搜尋課程">
                            </div>
                        </form>
                    </li>
                </ul>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">推薦課程</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="courseMenu" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                選擇課程
                            </a>
                            <div class="dropdown-menu mega-menu p-3" aria-labelledby="courseMenu">
                                <div class="row">
                                    <!-- 第一欄 -->
                                    <div class="col-4 first-column">
                                        <ul class="list-unstyled">
                                            <li><a href="#" data-target="language-learning">語言學習</a></li>
                                            <li><a href="#" data-target="programming-language">程式設計</a></li>
                                            <li><a href="#" data-target="academic">升學科目</a></li>
                                        </ul>
                                    </div>

                                    <!-- 第二欄 (動態顯示的內容) -->
                                    <div class="col-4 second-column">
                                        <div class="sub-menu language-learning">
                                            <ul class="list-unstyled">
                                                <li class="dropdown-menu-item"><a href="#">英文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">日文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">韓文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">西班牙文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">法文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">閩南語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">中文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">泰語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">德文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">義大利文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">越南文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">葡萄牙文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">印尼語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">粵語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">荷蘭文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">俄文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">馬來語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">拉丁文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">客家話</a></li>
                                                <li class="dropdown-menu-item"><a href="#">瑞典文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">土耳其語</a></li>
                                                <li class="dropdown-menu-item"><a href="#">芬蘭文</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-menu programming-language">
                                            <ul class="list-unstyled">
                                                <li class="dropdown-menu-item"><a href="#">HTML/CSS</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Java Script</a></li>
                                                <li class="dropdown-menu-item"><a href="#">C#</a></li>
                                                <li class="dropdown-menu-item"><a href="#">SQL</a></li>
                                                <li class="dropdown-menu-item">
                                                    <a href="#">.NET Core MVC</a>
                                                </li>
                                                <li class="dropdown-menu-item"><a href="#">Azure DevOps</a></li>
                                                <li class="dropdown-menu-item"><a href="#">AI工程</a></li>
                                                <li class="dropdown-menu-item"><a href="#">C/C++</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Python</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-menu academic">
                                            <ul class="list-unstyled">
                                                <li class="dropdown-menu-item"><a href="#">國文</a></li>
                                                <li class="dropdown-menu-item"><a href="#">自然</a></li>
                                                <li class="dropdown-menu-item"><a href="#">地理</a></li>
                                                <li class="dropdown-menu-item"><a href="#">化學</a></li>
                                                <li class="dropdown-menu-item"><a href="#">歷史</a></li>
                                                <li class="dropdown-menu-item"><a href="#">社會</a></li>
                                                <li class="dropdown-menu-item"><a href="#">生物</a></li>
                                                <li class="dropdown-menu-item"><a href="#">科學</a></li>
                                                <li class="dropdown-menu-item"><a href="#">通識</a></li>
                                                <li class="dropdown-menu-item"><a href="#">ICT</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- 第三欄 (固定顯示內容) -->
                                    <div class="col-4 third-column">
                                        <div class="rating">
                                            <span>5.0 ★</span>
                                            <span>(1,758,545 評價)</span>
                                        </div>
                                        <button class="btn btn-primary btn-block my-3">找英文教師</button>
                                        <ul class="list-unstyled">
                                            <li><a href="#">更多資訊</a></li>
                                            <li><a href="#">英文課程內容</a></li>
                                            <li><a href="#">英文教師新資料</a></li>
                                            <li><a href="#">英文學生學習故事</a></li>
                                            <li><a href="#">英文學生評價內容</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    @* <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/Apply_teacher/myTeacher.html">成為教師</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">登入/註冊</a>
                        </li>
                        <li class="nav-item shopping-bag d-none">
                            <a class="nav-link" aria-current="page" href="https://購物車頁面">
                                <img src="https://fakeimg.pl/20x20/200" alt="">購物車
                            </a>
                        </li>
                        <li class="nav-item message-item">
                            <a class="nav-link" aria-current="page" href="">
                                <i class="fa-regular fa-comments"></i>
                            </a>
                        </li>
                        <li class="nav-item user-item">
                            <a class="nav-link" aria-current="page" href="https://會員中心">
                                <img src="https://fakeimg.pl/20x20/200" alt="">
                            </a>
                        </li>
                    </ul> *@
                    <ul class="navbar-nav ms-auto">
                        @if (ViewData["IsLoggedIn"] != null && (bool)ViewData["IsLoggedIn"])
                        {
                            <!-- 登入後的選單 -->
                            <li class="nav-item">
                                <a class="nav-link" href="/TeacherSystem">教師系統</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/WatchList">關注列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Logout">登出</a>
                            </li>
                            <li class="nav-item shopping-bag">
                                <a class="nav-link" href="https://購物車頁面">
                                    <img src="https://fakeimg.pl/20x20/200" alt="">購物車
                                </a>
                            </li>
                            <li class="nav-item message-item">
                                <a class="nav-link" href="">
                                    <i class="fa-regular fa-comments"></i>
                                </a>
                            </li>
                            <li class="nav-item user-item">
                                <a class="nav-link" href="https://會員中心">
                                    <img src="https://fakeimg.pl/20x20/200" alt="">
                                </a>
                            </li>
                        }
                        else
                        {
                            <!-- 登入前的選單 -->
                            <li class="nav-item">
                                <a class="nav-link" href="/Apply_teacher/myTeacher.html">成為教師</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">登入/註冊</a>
                            </li>
                            <li class="nav-item message-item">
                                <a class="nav-link" href="">
                                    <i class="fa-regular fa-comments"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>





        <!-- <template>
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" v-if="!isLoggedIn">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://TalkingTopia的首頁">
                <img src="../Layout/layout-img/TalkingTopia logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">搜尋課程</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">推薦課程</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">評價</a>
                  </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://永廷的成為老師html">成為教師</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">登入</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">註冊</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://購物車頁面">
                      <img src="https://fakeimg.pl/20x20/200" alt="">NT$693
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://會員中心">
                      <img src="https://fakeimg.pl/20x20/200" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <nav class="navbar navbar-expand-lg lh-backstage-navbar" v-else>
            <a class="navbar-brand" href="#">𝕋𝕒𝕝𝕜𝕚𝕟𝕘𝕋𝕠𝕡𝕚𝕒</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="pic lh-backstage-user-photo">
              <img src="https://picsum.photos/100/100/?random=16" />
            </div>
            <div class="collapse navbar-collapse lh-backstage-navbar-list" id="navbarNav">
              <button class="btn lh-backstage-submit-btn" click="openCalendar">行事曆</button>
              <a class="lh-backstage-nav-item" href="#lh-backstage-homepage-section">後台首頁</a>
              <a class="lh-backstage-nav-item" href="#lh-backstage-watchlist-section">關注列表</a>
              <div class="lh-backstage-divider m-1"></div>
              <a class="lh-backstage-nav-item" href="#lh-backstage-member-section">個人資料</a>
              <a class="lh-backstage-nav-item" href="#lh-backstage-transaction-section">交易明細</a>
              <div class="lh-backstage-divider m-1"></div>
              <a class="lh-backstage-nav-item" href="#lh-backstage-tutor-section">教師功能</a>
              <a class="lh-backstage-nav-item" href="#lh-backstage-admin-section">系統功能</a>
            </div>
          </nav>
        </template> -->
        <!-- 登入/註冊Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- X 按鈕 -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <!-- 左邊欄位 -->
                                <div class="col-md-6 d-flex flex-column justify-content-center">
                                    <h5 class="text-center">請輸入您的電子信箱來登入</h5>
                                    <form>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">電子信箱</label>
                                            <input type="email" class="form-control" id="email" placeholder="happ@example.com">
                                        </div>
                                        <button type="submit" class="btn btn-success w-100">確認</button>
                                    </form>
                                    <hr>
                                    <p class="text-center">或</p>

                                    <button class="btn btn-outline-secondary mb-3">
                                        <img src="~/image/mainpage_imgs/google.png" alt="Google" style="width:20px; height:20px; margin-right:10px;">
                                        以 Google 登入
                                    </button>
                                    <button class="btn btn-outline-secondary mb-3">
                                        <img src="~/image/mainpage_imgs/line.png" alt="LINE" style="width:20px; height:20px; margin-right:10px;">
                                        以 LINE 登入
                                    </button>
                                </div>
                                <!-- 右邊欄位 -->
                                <div class="register-form">
                                    <p>尚未註冊過，請註冊</p>
                                    <form id="registerForm">
                                        <div>
                                            <input type="text" id="name" placeholder="名字">
                                            <p id="nameError" class="error-message" style="color:red; display:none;">不可為空</p>
                                        </div>
                                        <div>
                                            <input type="email" id="email" placeholder="信箱">
                                            <p id="emailError" class="error-message" style="color:red; display:none;">不可為空</p>
                                        </div>
                                        <div>
                                            <input type="password" id="password" placeholder="密碼(至少八個字元)">
                                            <p id="passwordError" class="error-message" style="color:red; display:none;">不可為空</p>
                                        </div>
                                        <div>
                                            <input type="password" id="confirmPassword" placeholder="確認密碼">
                                            <p id="confirmPasswordError" class="error-message" style="color:red; display:none;">不可為空</p>
                                        </div>
                                        <button type="submit">註冊</button>
                                        <p class="text-center text-muted small">
                                            繼續操作表示您同意我們的<a href="#">服務條款</a>，請參閱我們的<a href="#">隱私權政策</a>。
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- 返回按鈕 -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="lh-layout-footer mt-5">
        <div class="lh-layout-footer-container">
            <div class="lh-layout-footer-linkGroup col-12 col-md-12">
                <div class="lh-layout-footer-link col-12 col-md-3">
                    <h5>工作機會</h5>
                    <ul>
                        <li><a href="#">加入TalkingTopia</a></li>
                        <li><a href="#">找學生</a></li>
                        <li><a href="#">成為教師</a></li>
                        <li><a href="#">家教費用資訊</a></li>
                    </ul>
                </div>
                <div class="lh-layout-footer-link col-12 col-md-3">
                    <h5>TalkingTopia</h5>
                    <ul>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">部落格</a></li>
                        <li><a href="#">Q&A</a></li>
                    </ul>
                </div>
                <div class="lh-layout-footer-link col-12 col-md-3">
                    <h5>工作機會</h5>
                    <ul>
                        <li><a href="#">加入TalkingTopia</a></li>
                        <li><a href="#">找學生</a></li>
                        <li><a href="#">成為教師</a></li>
                        <li><a href="#">家教費用資訊</a></li>
                    </ul>
                </div>
                <div class="lh-layout-footer-link col-12 col-md-3">
                    <h5>TalkingTopia</h5>
                    <ul>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">部落格</a></li>
                        <li><a href="#">Q&A</a></li>
                    </ul>
                </div>
            </div>
            <div class="lh-layout-footer-bottom col-12 col-md-12">
                <p>© 2024 TalkingTopia Limited.</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/layout.js"></script>
    <script src="~/lib/slick-1.8.1/slick/slick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


    @await RenderSectionAsync("endCSS", required: false)
    @await RenderSectionAsync("endJS", required: false)
</body>
</html>
