
@{
    ViewData["Title"] = "_ShowMessage";
}

<h1>TalkingTopia</h1>


<h1>@ViewData["Header"]</h1>
<p class="fs-2 ">@ViewData["Message"]</p>

<a class="fs-2" href="@Url.Action("Index", "Tutor")">返回</a>
