
<div class="card my-1 col-6 col-md-3">
    <img src="https://fakeimg.pl/300x200/200"
         class="card-img-top"
         alt="Course Image" />
    <div class="card-body">
        <h5 class="card-title">兒童英語</h5>
        <p class="card-text">Aiden Huang</p>
        <div class="d-flex align-items-center">
            <div class="progress"
                 style="width: 50%; margin-right: 10px">
                <div class="progress-bar lh-backstage-progress-bar"
                     role="progressbar"
                     style="width: 5%"
                     aria-valuenow="5"
                     aria-valuemin="0"
                     aria-valuemax="100">
                    5% 完成
                </div>
            </div>
            <span>5%</span>
        </div>
        <div class="mt-3">
            <p>下次上課時間：<span>2024-08-31 16:00</span></p>
        </div>
    </div>
</div>
