<div class="lh-layout-guarentee-item col-12 col-md-4">
    <div class="lh-layout-guarentee-video-card">
        <iframe width="1236" height="695" src="https://www.youtube.com/embed/k4715CJ0Ii8" title="IELTS Speaking Test- Perfect Band 9" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="lh-layout-guarentee-video-title">🌟大衛老師🌟英語口說提升班</div>
        <div class="lh-layout-guarentee-video-subtitle">學員 Emily - IELTS口說測驗9.0滿分</div>
        <div class="lh-layout-guarentee-video-content">
            自從上了TalkingTopia的英文口說課程後，我的英語表達能力有了顯著提升。在老師的專業指導下，我成功突破自我，最終在IELTS口說測驗中拿到了9.0的滿分！這門課程不僅提升了我的語言能力，也讓我對英文交流更有自信，讓我在工作與生活中都受益匪淺。
        </div>
    </div>
</div>
<div class="lh-layout-guarentee-item col-12 col-md-4">
    <div class="lh-layout-guarentee-video-card">
        <iframe width="1236" height="695" src="https://www.youtube.com/embed/biNtxGzUopw?list=PL2p5sjbTeG3TEdnQcowyjMQleVTeJdiGO" title="金魚都能懂的網頁切版 : 今天你金魚了嗎? 鐵人練成 | 切版教學 | HTML教學 | 網頁教學 | 網頁切版" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="lh-layout-guarentee-video-title">🐟金魚老師🐟網頁設計教學</div>
        <div class="lh-layout-guarentee-video-subtitle">學員 烏薩奇 - 網頁小小白到切版大師  </div>
        <div class="lh-layout-guarentee-video-content">
            在金魚老師的課堂上，我不僅學會了網站怎麼設計，還學會了怎麼玩出創意！以前看著那些酷炫的網站我只會覺得很遙不可及，現在我自己也能設計出讓人眼睛一亮的作品！老師不僅教得超詳細，還總是鼓勵我們發揮想像力，讓學習的過程變得既輕鬆又有趣。真心推薦給每一個想要進入網頁設計世界的人！
        </div>
    </div>
</div>
<div class="lh-layout-guarentee-item col-12 col-md-4">
    <div class="lh-layout-guarentee-video-card">
        <iframe width="1236" height="695" src="https://www.youtube.com/embed/sgBldNsK-xw" title="Edith Piaf - Hymne à l&#39;amour (Audio officiel)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="lh-layout-guarentee-video-title">🍰Camille🍰法文輕鬆學</div>
        <div class="lh-layout-guarentee-video-subtitle">學員 皮古 - 通過DALF C2考試</div>
        <div class="lh-layout-guarentee-video-content">
            在Camille老師的指導下，我成功達到了法語的最高水平，並順利通過了DALF C2考試！Camille老師來自法國，她的教學充滿趣味，讓學習法語的過程輕鬆而愉快。從語法到口語表達，她總是能將複雜的概念解釋得簡單易懂，還經常與我們分享法國文化的點滴。對於任何想挑戰最高等級法語能力的學員，Camille老師絕對是你的最佳選擇！
        </div>
    </div>
</div>